@charset "UTF-8";
/**
 * -------------------
 * COLOURS
 *
 * Declare the colour
 * variables we'll use
 * for our player.
 * -------------------
 */
/**
 * -------------------
 * BOX SHADOW BARS
 *
 * Use box-shadow to
 * create a pattern of
 * repeating stripes.
 * -------------------
 */
/**
 * --------------------
 * SLIDE ANIMATION
 *
 * Simulate an infinite
 * slide-to-the-right
 * effect.
 * --------------------
 */
@keyframes basic_slide {
  0% {
    transform: translateX(-2em);
  }
  100% {
    transform: translateX(0);
  }
}

.basicPlayer.customAudioPlayer {
  margin: 2em 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 4em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0.2em 0.2em 0;
}

.basicPlayer.customAudioPlayer *,
.basicPlayer.customAudioPlayer *:before,
.basicPlayer.customAudioPlayer *:after {
  box-sizing: inherit;
}

.basicPlayer.customAudioPlayer .loader {
  position: absolute;
  bottom: 0;
  left: 4em;
  right: 0;
  height: 2em;
  overflow: hidden;
  opacity: 0;
  transition: opacity .2s;
}

.basicPlayer.customAudioPlayer .loader:before {
  display: block;
  content: '';
  width: 200%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  transform-origin: center center;
  box-shadow: inset #ddd 0 0 0 0, inset #c4c4c4 1em 0 0 0,  inset #ddd 2em 0 0 0,  inset #c4c4c4 3em 0 0 0,  inset #ddd 4em 0 0 0,  inset #c4c4c4 5em 0 0 0,  inset #ddd 6em 0 0 0,  inset #c4c4c4 7em 0 0 0,  inset #ddd 8em 0 0 0,  inset #c4c4c4 9em 0 0 0,  inset #ddd 10em 0 0 0,  inset #c4c4c4 11em 0 0 0,  inset #ddd 12em 0 0 0,  inset #c4c4c4 13em 0 0 0,  inset #ddd 14em 0 0 0,  inset #c4c4c4 15em 0 0 0,  inset #ddd 16em 0 0 0,  inset #c4c4c4 17em 0 0 0,  inset #ddd 18em 0 0 0,  inset #c4c4c4 19em 0 0 0,  inset #ddd 20em 0 0 0,  inset #c4c4c4 21em 0 0 0,  inset #ddd 22em 0 0 0,  inset #c4c4c4 23em 0 0 0,  inset #ddd 24em 0 0 0,  inset #c4c4c4 25em 0 0 0,  inset #ddd 26em 0 0 0,  inset #c4c4c4 27em 0 0 0,  inset #ddd 28em 0 0 0,  inset #c4c4c4 29em 0 0 0,  inset #ddd 30em 0 0 0,  inset #c4c4c4 31em 0 0 0,  inset #ddd 32em 0 0 0,  inset #c4c4c4 33em 0 0 0,  inset #ddd 34em 0 0 0,  inset #c4c4c4 35em 0 0 0,  inset #ddd 36em 0 0 0,  inset #c4c4c4 37em 0 0 0,  inset #ddd 38em 0 0 0,  inset #c4c4c4 39em 0 0 0,  inset #ddd 40em 0 0 0,  inset #c4c4c4 41em 0 0 0,  inset #ddd 42em 0 0 0,  inset #c4c4c4 43em 0 0 0,  inset #ddd 44em 0 0 0,  inset #c4c4c4 45em 0 0 0,  inset #ddd 46em 0 0 0,  inset #c4c4c4 47em 0 0 0,  inset #ddd 48em 0 0 0,  inset #c4c4c4 49em 0 0 0,  inset #ddd 50em 0 0 0,  inset #c4c4c4 51em 0 0 0,  inset #ddd 52em 0 0 0,  inset #c4c4c4 53em 0 0 0,  inset #ddd 54em 0 0 0,  inset #c4c4c4 55em 0 0 0,  inset #ddd 56em 0 0 0,  inset #c4c4c4 57em 0 0 0,  inset #ddd 58em 0 0 0,  inset #c4c4c4 59em 0 0 0,  inset #ddd 60em 0 0 0,  inset #c4c4c4 61em 0 0 0,  inset #ddd 62em 0 0 0,  inset #c4c4c4 63em 0 0 0,  inset #ddd 64em 0 0 0,  inset #c4c4c4 65em 0 0 0,  inset #ddd 66em 0 0 0,  inset #c4c4c4 67em 0 0 0,  inset #ddd 68em 0 0 0,  inset #c4c4c4 69em 0 0 0,  inset #ddd 70em 0 0 0,  inset #c4c4c4 71em 0 0 0,  inset #ddd 72em 0 0 0,  inset #c4c4c4 73em 0 0 0,  inset #ddd 74em 0 0 0,  inset #c4c4c4 75em 0 0 0,  inset #ddd 76em 0 0 0,  inset #c4c4c4 77em 0 0 0,  inset #ddd 78em 0 0 0,  inset #c4c4c4 79em 0 0 0,  inset #ddd 80em 0 0 0,  inset #c4c4c4 81em 0 0 0,  inset #ddd 82em 0 0 0,  inset #c4c4c4 83em 0 0 0,  inset #ddd 84em 0 0 0,  inset #c4c4c4 85em 0 0 0,  inset #ddd 86em 0 0 0,  inset #c4c4c4 87em 0 0 0,  inset #ddd 88em 0 0 0,  inset #c4c4c4 89em 0 0 0,  inset #ddd 90em 0 0 0,  inset #c4c4c4 91em 0 0 0,  inset #ddd 92em 0 0 0,  inset #c4c4c4 93em 0 0 0,  inset #ddd 94em 0 0 0,  inset #c4c4c4 95em 0 0 0,  inset #ddd 96em 0 0 0,  inset #c4c4c4 97em 0 0 0,  inset #ddd 98em 0 0 0,  inset #c4c4c4 99em 0 0 0,  inset #ddd 100em 0 0 0;
  animation: basic_slide linear infinite .4s;
}

.basicPlayer.customAudioPlayer.loading .loader {
  opacity: 1;
}

.basicPlayer.customAudioPlayer .playerTrigger {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 3em;
  height: 4em;
  font-size: 1em;
  color: #ffffff;
  background: #555;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.basicPlayer.customAudioPlayer .playerTrigger .buttonText {
  display: none;
}

.basicPlayer.customAudioPlayer .playerTrigger:focus {
  outline: none;
}

.basicPlayer.customAudioPlayer .playerTrigger:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -.6em;
  margin-left: -.25em;
  border-top: .6em solid transparent;
  border-left: 0.8em solid #ffffff;
  border-bottom: .6em solid transparent;
}

.basicPlayer.customAudioPlayer .playerTrigger:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  height: 1em;
  margin-top: -.5em;
  margin-right: -.5em;
  border-top: 0;
  border-left: 0.4em solid #ffffff;
  border-bottom: 0;
  opacity: 0;
}

.basicPlayer.customAudioPlayer .playerTrigger.songPlaying:before {
  height: 1em;
  margin-top: -.5em;
  margin-left: -.5em;
  border-top: 0;
  border-left: 0.4em solid #ffffff;
  border-bottom: 0;
}

.basicPlayer.customAudioPlayer .playerTrigger.songPlaying:after {
  opacity: 1;
}

.basicPlayer.customAudioPlayer .metaWrapper {
  padding: .5em 1.5em .5em 4.5em;
  height: 2em;
  overflow: hidden;
  background: #ddd;
  background: rgba(221, 221, 221, 0.3);
}

.basicPlayer.customAudioPlayer .metaWrapper .titleDisplay {
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  margin-right: .2em;
}

.basicPlayer.customAudioPlayer .metaWrapper .titleDisplay:after {
  content: ' – ';
}

.basicPlayer.customAudioPlayer .metaWrapper .artistDisplay {
  display: inline-block;
  line-height: 1;
}

.basicPlayer.customAudioPlayer .timingsWrapper {
  position: absolute;
  bottom: 0;
  left: 4em;
  right: 0;
  height: 2em;
  background: red;
  border-left: 0.1rem solid #555;
}

.basicPlayer.customAudioPlayer .timingsWrapper .songPlayTimer,
.basicPlayer.customAudioPlayer .timingsWrapper .songDuration {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 4em;
  text-align: center;
  background: transparent;
  color: #ffffff;
  line-height: 2;
  height: 2em;
  pointer-events: none;
}

.basicPlayer.customAudioPlayer .timingsWrapper .songPlayTimer {
  left: 0;
}

.basicPlayer.customAudioPlayer .timingsWrapper .songDuration {
  right: 0;
}

.basicPlayer.customAudioPlayer.loading .songPlayTimer,
.basicPlayer.customAudioPlayer.loading .songDuration {
  display: none;
}

.basicPlayer.customAudioPlayer .songProgressSliderWrapper {
  height: 2em;
  font-size: 1em;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #555;
  overflow: hidden;
}

.basicPlayer.customAudioPlayer .songProgressSliderWrapper .songProgressSlider {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.basicPlayer.customAudioPlayer .songProgressSliderWrapper .pseudoProgressIndicator {
  height: 2em;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(221, 221, 221, 0.4);
  width: 0%;
}

.basicPlayer.customAudioPlayer .songProgressSliderWrapper .pseudoProgressPlayhead {
  width: 1em;
  height: 2em;
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -1em;
  margin-left: -.5em;
  background: #00b7c6;
}

.basicPlayer.customAudioPlayer.loading .pseudoProgressIndicator,
.basicPlayer.customAudioPlayer.loading .pseudoProgressPlayhead {
  display: none;
}

.basicPlayer.customAudioPlayer input[type=range].songProgressSlider::-webkit-slider-runnable-track {
  width: 100%;
  font-size: 1em;
  height: 2.2em;
  cursor: pointer;
}

.basicPlayer.customAudioPlayer input[type=range].songProgressSlider::-moz-range-track {
  width: 100%;
  height: 2em;
  cursor: pointer;
}

.basicPlayer.customAudioPlayer input[type=range].songProgressSlider::-ms-track {
  width: 100%;
  height: 2em;
  cursor: pointer;
}

.basicPlayer.customAudioPlayer .songVolume {
  position: absolute;
  top: 0;
  left: 3em;
  width: 1em;
  height: 4em;
  overflow: hidden;
  z-index: 2;
}

.basicPlayer.customAudioPlayer .songVolume .songMuteButton {
  display: block;
  width: 1rem;
  height: 1rem;
  font-size: 0;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #555;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.basicPlayer.customAudioPlayer .songVolume .songMuteButton:before {
  display: block;
  width: .4rem;
  height: .3rem;
  position: absolute;
  content: '';
  top: 50%;
  right: 50%;
  margin-right: -.1rem;
  transform: translateY(-50%);
  background: #ffffff;
}

.basicPlayer.customAudioPlayer .songVolume .songMuteButton:after {
  display: block;
  width: .4rem;
  height: .4rem;
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -.4rem;
  right: 50%;
  margin-right: -.2rem;
  border-top: .4rem solid transparent;
  border-right: 0.4rem solid #ffffff;
  border-bottom: .4rem solid transparent;
}

.basicPlayer.customAudioPlayer .songVolume .songMuteButton.songMuted:before {
  background: #dad8d2;
}

.basicPlayer.customAudioPlayer .songVolume .songMuteButton.songMuted:after {
  border-right-color: #dad8d2;
}

.basicPlayer.customAudioPlayer .songVolumeValue {
  margin-left: .2em;
}

.basicPlayer.customAudioPlayer .songVolumeLabelWrapper {
  display: none;
}

.basicPlayer.customAudioPlayer .songVolumeSliderWrapper {
  display: block;
  height: 1em;
  position: absolute;
  top: 1em;
  left: 0;
  z-index: 3;
  background: #aca79a;
  width: 3em;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  overflow: hidden;
}

.basicPlayer.customAudioPlayer .songVolumeSliderWrapper:after {
  content: '';
  display: block;
  width: 100%;
  border-right: 3em solid #555;
  border-bottom: 1em solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.basicPlayer.customAudioPlayer .songVolumeSliderWrapper .songVolumeSlider {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotate(180deg);
}

.basicPlayer.customAudioPlayer .songVolumeSliderWrapper .pseudoVolumeIndicator {
  height: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  background: #00b7c6;
  width: 100%;
  transform: rotate(180deg);
}

.basicPlayer.customAudioPlayer .songVolumeSliderWrapper .pseudoVolumePlayhead {
  display: none;
}

.basicPlayer.customAudioPlayer input[type=range].songVolumeSlider::-webkit-slider-runnable-track {
  width: 100%;
  font-size: 1em;
  height: 1.5em;
  cursor: pointer;
}

.basicPlayer.customAudioPlayer input[type=range].songVolumeSlider::-moz-range-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
}

.basicPlayer.customAudioPlayer input[type=range].songVolumeSlider::-ms-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
}
