.bbc.customAudioPlayer {
  margin: 2em 0;
  padding: 0em;
  padding-left: 4em;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  background: #ffffff;
  font-family: 'Arial',sans-serif;
  height: 6em;
}

.bbc.customAudioPlayer *,
.bbc.customAudioPlayer *:before,
.bbc.customAudioPlayer *:after {
  box-sizing: inherit;
}

.bbc.customAudioPlayer .loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background: #000000;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
  text-align: center;
  line-height: 1;
  padding: 1em;
  overflow: hidden;
}

.bbc.customAudioPlayer .loader:after {
  content: 'Loading';
  display: block;
  width: 6em;
  text-align: left;
  color: #ffffff;
  animation: ellipsis linear infinite .8s;
  position: absolute;
  top: 1em;
  padding-left: 1em;
  left: 50%;
  margin-left: -3em;
  z-index: 2;
}

.bbc.customAudioPlayer .loader:before {
  display: block;
  content: '';
  width: 130%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: inset #000000 0 0 0 0, inset #f54997 1em 0 0 0,  inset #000000 2em 0 0 0,  inset #f54997 3em 0 0 0,  inset #000000 4em 0 0 0,  inset #f54997 5em 0 0 0,  inset #000000 6em 0 0 0,  inset #f54997 7em 0 0 0,  inset #000000 8em 0 0 0,  inset #f54997 9em 0 0 0,  inset #000000 10em 0 0 0,  inset #f54997 11em 0 0 0,  inset #000000 12em 0 0 0,  inset #f54997 13em 0 0 0,  inset #000000 14em 0 0 0,  inset #f54997 15em 0 0 0,  inset #000000 16em 0 0 0,  inset #f54997 17em 0 0 0,  inset #000000 18em 0 0 0,  inset #f54997 19em 0 0 0,  inset #000000 20em 0 0 0,  inset #f54997 21em 0 0 0,  inset #000000 22em 0 0 0,  inset #f54997 23em 0 0 0,  inset #000000 24em 0 0 0,  inset #f54997 25em 0 0 0,  inset #000000 26em 0 0 0,  inset #f54997 27em 0 0 0,  inset #000000 28em 0 0 0,  inset #f54997 29em 0 0 0,  inset #000000 30em 0 0 0,  inset #f54997 31em 0 0 0,  inset #000000 32em 0 0 0,  inset #f54997 33em 0 0 0,  inset #000000 34em 0 0 0,  inset #f54997 35em 0 0 0,  inset #000000 36em 0 0 0,  inset #f54997 37em 0 0 0,  inset #000000 38em 0 0 0,  inset #f54997 39em 0 0 0,  inset #000000 40em 0 0 0,  inset #f54997 41em 0 0 0,  inset #000000 42em 0 0 0,  inset #f54997 43em 0 0 0,  inset #000000 44em 0 0 0,  inset #f54997 45em 0 0 0,  inset #000000 46em 0 0 0,  inset #f54997 47em 0 0 0,  inset #000000 48em 0 0 0,  inset #f54997 49em 0 0 0,  inset #000000 50em 0 0 0,  inset #f54997 51em 0 0 0,  inset #000000 52em 0 0 0,  inset #f54997 53em 0 0 0,  inset #000000 54em 0 0 0,  inset #f54997 55em 0 0 0,  inset #000000 56em 0 0 0,  inset #f54997 57em 0 0 0,  inset #000000 58em 0 0 0,  inset #f54997 59em 0 0 0,  inset #000000 60em 0 0 0,  inset #f54997 61em 0 0 0,  inset #000000 62em 0 0 0,  inset #f54997 63em 0 0 0,  inset #000000 64em 0 0 0,  inset #f54997 65em 0 0 0,  inset #000000 66em 0 0 0,  inset #f54997 67em 0 0 0,  inset #000000 68em 0 0 0,  inset #f54997 69em 0 0 0,  inset #000000 70em 0 0 0,  inset #f54997 71em 0 0 0,  inset #000000 72em 0 0 0,  inset #f54997 73em 0 0 0,  inset #000000 74em 0 0 0,  inset #f54997 75em 0 0 0,  inset #000000 76em 0 0 0,  inset #f54997 77em 0 0 0,  inset #000000 78em 0 0 0,  inset #f54997 79em 0 0 0,  inset #000000 80em 0 0 0,  inset #f54997 81em 0 0 0,  inset #000000 82em 0 0 0,  inset #f54997 83em 0 0 0,  inset #000000 84em 0 0 0,  inset #f54997 85em 0 0 0,  inset #000000 86em 0 0 0,  inset #f54997 87em 0 0 0,  inset #000000 88em 0 0 0,  inset #f54997 89em 0 0 0,  inset #000000 90em 0 0 0,  inset #f54997 91em 0 0 0,  inset #000000 92em 0 0 0,  inset #f54997 93em 0 0 0,  inset #000000 94em 0 0 0,  inset #f54997 95em 0 0 0,  inset #000000 96em 0 0 0,  inset #f54997 97em 0 0 0,  inset #000000 98em 0 0 0,  inset #f54997 99em 0 0 0,  inset #000000 100em 0 0 0;
  animation: slide linear infinite .2s;
}

.bbc.customAudioPlayer.loading .loader {
  opacity: 1;
}

.bbc.customAudioPlayer .playerTrigger {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 3em;
  height: 3em;
  font-size: 1em;
  background: #000000;
  border-right: 1px solid #363733;
  position: absolute;
  bottom: 0;
  margin-top: -1.3em;
  left: 0;
  cursor: pointer;
  transition: background .2s;
}

.bbc.customAudioPlayer .playerTrigger .buttonText {
  display: none;
}

.bbc.customAudioPlayer .playerTrigger:focus {
  outline: none;
}

.bbc.customAudioPlayer .playerTrigger:hover {
  background: #f54997;
}

.bbc.customAudioPlayer .playerTrigger:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -.6em;
  margin-left: -.25em;
  border-top: .6em solid transparent;
  border-left: 0.8em solid #ffffff;
  border-bottom: .6em solid transparent;
}

.bbc.customAudioPlayer .playerTrigger:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  height: 1em;
  margin-top: -.5em;
  margin-right: -.5em;
  border-top: 0;
  border-left: 0.4em solid #ffffff;
  border-bottom: 0;
  opacity: 0;
}

.bbc.customAudioPlayer .playerTrigger.songPlaying:before {
  height: 1em;
  margin-top: -.5em;
  margin-left: -.5em;
  border-top: 0;
  border-left: 0.4em solid #ffffff;
  border-bottom: 0;
}

.bbc.customAudioPlayer .playerTrigger.songPlaying:after {
  opacity: 1;
}

.bbc.customAudioPlayer .metaWrapper {
  color: #ffffff;
  background: #000000;
  padding: 1em;
  margin-bottom: 1em;
  position: absolute;
  top: 3em;
  height: 3em;
  left: 12em;
  right: 6em;
}

.bbc.customAudioPlayer .titleDisplay {
  line-height: 1;
  padding-bottom: .2em;
}

.bbc.customAudioPlayer .artistDisplay {
  color: #808080;
  margin-left: 1em;
  line-height: 1;
}

.bbc.customAudioPlayer .timingsWrapper {
  padding: 1em;
  position: absolute;
  top: 0;
  left: 0;
  height: 3em;
  font-size: 1em;
  width: 100%;
  float: left;
  background: rgba(0, 0, 0, 0.5);
}

.bbc.customAudioPlayer .timingsWrapper .songPlayTimer,
.bbc.customAudioPlayer .timingsWrapper .songDuration {
  position: absolute;
  display: block;
  top: 3em;
  height: 3em;
  width: 3em;
  color: #ffffff;
  background: #000000;
  border: 0;
  padding: 1em 0;
  text-align: center;
  border-radius: 0;
}

.bbc.customAudioPlayer .timingsWrapper .songPlayTimer {
  right: 3em;
  border-left: 1px solid #363733;
}

.bbc.customAudioPlayer .timingsWrapper .songDuration {
  right: 0;
  color: #808080;
}

.bbc.customAudioPlayer .timingsWrapper .songDuration:before {
  display: block;
  position: absolute;
  top: 1em;
  left: 0;
  content: '/';
}

.bbc.customAudioPlayer .songProgressSliderWrapper {
  height: 1em;
  line-height: 1;
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
}

.bbc.customAudioPlayer .songProgressSliderWrapper .songProgressSlider {
  width: 100%;
  padding: 0;
  height: 1em;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.bbc.customAudioPlayer .songProgressSliderWrapper .pseudoProgressBackground {
  height: .5em;
  position: absolute;
  top: .25em;
  left: 0;
  background: #000000;
  width: 100%;
}

.bbc.customAudioPlayer .songProgressSliderWrapper .pseudoProgressIndicator {
  height: .5em;
  position: absolute;
  top: .25em;
  left: 0;
  background: #f54997;
  width: 0%;
}

.bbc.customAudioPlayer .songProgressSliderWrapper .pseudoProgressPlayhead {
  background: #000000;
  box-shadow: inset #ffffff 0 0 0 0.2em;
  width: .5em;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0%;
  margin-left: -.25em;
}

.bbc.customAudioPlayer input[type=range].songProgressSlider::-webkit-slider-runnable-track {
  width: 100%;
  font-size: 0.6rem;
  height: 2em;
  cursor: pointer;
}

.bbc.customAudioPlayer input[type=range].songProgressSlider::-moz-range-track {
  width: 100%;
  height: 0.6rem;
  cursor: pointer;
}

.bbc.customAudioPlayer input[type=range].songProgressSlider::-ms-track {
  width: 100%;
  height: 0.6rem;
  cursor: pointer;
}

.bbc.customAudioPlayer .songVolume {
  width: 9em;
  height: 3em;
  position: absolute;
  bottom: 0;
  left: 3em;
  background: #000000;
  border-right: 1px solid #363733;
}

.bbc.customAudioPlayer .songMuteButton {
  width: 3em;
  height: 3em;
  font-size: 1em;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background: #000000;
  color: transparent;
}

.bbc.customAudioPlayer .songMuteButton:before {
  display: block;
  width: .5em;
  height: .5em;
  position: absolute;
  content: '';
  top: 50%;
  right: 50%;
  margin-right: .1em;
  transform: translateY(-50%);
  background: #ffffff;
}

.bbc.customAudioPlayer .songMuteButton:after {
  display: block;
  width: .5em;
  height: .5em;
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -.5em;
  right: 50%;
  border-top: .5em solid transparent;
  border-right: 0.5em solid #ffffff;
  border-bottom: .5em solid transparent;
}

.bbc.customAudioPlayer .songMuteButton:focus {
  outline: none;
}

.bbc.customAudioPlayer .songVolume:hover .songMuteButton {
  background: #f54997;
}

.bbc.customAudioPlayer .songVolumeLabel {
  display: block;
  position: absolute;
  top: 50%;
  height: 1rem;
  margin-top: -.5rem;
  width: 1rem;
  font-size: 0;
  left: 50%;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 0 .8rem 0 0;
  transform: rotate(45deg);
}

.bbc.customAudioPlayer .songVolumeValue {
  display: block;
  position: absolute;
  top: 50%;
  height: .6rem;
  margin-top: -.3rem;
  width: .6rem;
  font-size: 0;
  left: 50%;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-radius: 0 .5rem 0 0;
  transform: rotate(45deg);
}

.bbc.customAudioPlayer .songMuteButton.songMuted + .songVolumeLabelWrapper .songVolumeLabel {
  border-right: 0;
  border-radius: 0;
  width: .6rem;
  transform-origin: center;
  transform: rotate(-45deg);
  height: 0;
  margin-top: -.05rem;
  margin-left: .2rem;
}

.bbc.customAudioPlayer .songMuteButton.songMuted + .songVolumeLabelWrapper .songVolumeValue {
  border-right: 0;
  border-radius: 0;
  height: 0;
  width: .6rem;
  margin-top: -.05rem;
  transform-origin: center;
  margin-left: .2rem;
}

.bbc.customAudioPlayer .songVolumeLabelWrapper {
  position: absolute;
  height: 3em;
  width: 3em;
  top: 0;
  left: 0;
  pointer-events: none;
}

.bbc.customAudioPlayer .songVolumeSliderWrapper {
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 3em;
  height: 3em;
  position: relative;
  background: #000000;
  border-left: 1px solid #363733;
  width: 6em;
}

.bbc.customAudioPlayer .songVolumeSliderWrapper .songVolumeSlider {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 3em;
  left: 0;
  opacity: 0;
}

.bbc.customAudioPlayer .songVolumeSliderWrapper .pseudoVolumeBackground {
  height: 1.5em;
  position: absolute;
  bottom: .5em;
  left: 0;
  background: #808080;
  width: 100%;
  background-image: linear-gradient(to right, #808080 0em, #808080 0.25em, #000000 0.25em, #000000 0.5em, #808080 0.5em, #808080 0.75em, #000000 0.75em, #000000 1em, #808080 1em, #808080 1.25em, #000000 1.25em, #000000 1.5em, #808080 1.5em, #808080 1.75em, #000000 1.75em, #000000 2em, #808080 2em, #808080 2.25em, #000000 2.25em, #000000 2.5em, #808080 2.5em, #808080 2.75em, #000000 2.75em, #000000 3em, #808080 3em, #808080 3.25em, #000000 3.25em, #000000 3.5em, #808080 3.5em, #808080 3.75em, #000000 3.75em, #000000 4em, #808080 4em, #808080 4.25em, #000000 4.25em, #000000 4.5em, #808080 4.5em, #808080 4.75em, #000000 4.75em, #000000 5em, #808080 5em, #808080 5.25em, #000000 5.25em, #000000 5.5em, #808080 5.5em, #808080 5.75em, #000000 5.75em, #000000 6em, #808080 6em, #808080 6.25em, #000000 6.25em, #000000 6.5em, #808080 6.5em, #808080 6.75em, #000000 6.75em, #000000 7em, #808080 7em, #808080 7.25em, #000000 7.25em, #000000 7.5em, #808080 7.5em, #808080 7.75em, #000000 7.75em, #000000 8em, #808080 8em, #808080 8.25em, #000000 8.25em, #000000 8.5em, #808080 8.5em, #808080 8.75em, #000000 8.75em, #000000 9em, #808080 9em, #808080 9.25em, #000000 9.25em, #000000 9.5em, #808080 9.5em, #808080 9.75em, #000000 9.75em, #000000 10em);
}

.bbc.customAudioPlayer .songVolumeSliderWrapper .pseudoVolumeIndicator {
  height: 1.5em;
  position: absolute;
  bottom: .5em;
  left: 0;
  background: #f54997;
  width: 100%;
  background-image: linear-gradient(to right, #f54997 0em, #f54997 0.25em, #000000 0.25em, #000000 0.5em, #f54997 0.5em, #f54997 0.75em, #000000 0.75em, #000000 1em, #f54997 1em, #f54997 1.25em, #000000 1.25em, #000000 1.5em, #f54997 1.5em, #f54997 1.75em, #000000 1.75em, #000000 2em, #f54997 2em, #f54997 2.25em, #000000 2.25em, #000000 2.5em, #f54997 2.5em, #f54997 2.75em, #000000 2.75em, #000000 3em, #f54997 3em, #f54997 3.25em, #000000 3.25em, #000000 3.5em, #f54997 3.5em, #f54997 3.75em, #000000 3.75em, #000000 4em, #f54997 4em, #f54997 4.25em, #000000 4.25em, #000000 4.5em, #f54997 4.5em, #f54997 4.75em, #000000 4.75em, #000000 5em, #f54997 5em, #f54997 5.25em, #000000 5.25em, #000000 5.5em, #f54997 5.5em, #f54997 5.75em, #000000 5.75em, #000000 6em, #f54997 6em, #f54997 6.25em, #000000 6.25em, #000000 6.5em, #f54997 6.5em, #f54997 6.75em, #000000 6.75em, #000000 7em, #f54997 7em, #f54997 7.25em, #000000 7.25em, #000000 7.5em, #f54997 7.5em, #f54997 7.75em, #000000 7.75em, #000000 8em, #f54997 8em, #f54997 8.25em, #000000 8.25em, #000000 8.5em, #f54997 8.5em, #f54997 8.75em, #000000 8.75em, #000000 9em, #f54997 9em, #f54997 9.25em, #000000 9.25em, #000000 9.5em, #f54997 9.5em, #f54997 9.75em, #000000 9.75em, #000000 10em);
}

.bbc.customAudioPlayer .songVolumeSliderWrapper .pseudoVolumePlayhead {
  background: #ffffff;
  width: .2em;
  height: 2em;
  position: absolute;
  bottom: .5em;
  left: 100%;
  margin-left: -.1em;
}

.bbc.customAudioPlayer .songVolume:hover .songVolumeSliderWrapper {
  display: block;
}

.bbc.customAudioPlayer input[type=range].songVolumeSlider::-webkit-slider-runnable-track {
  width: 100%;
  font-size: 1em;
  height: 3em;
  cursor: pointer;
}

.bbc.customAudioPlayer input[type=range].songVolumeSlider::-moz-range-track {
  width: 100%;
  height: 3em;
  cursor: pointer;
}

.bbc.customAudioPlayer input[type=range].songVolumeSlider::-ms-track {
  width: 100%;
  height: 3em;
  cursor: pointer;
}

@keyframes slide {
  0% {
    transform: translateX(-2em);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes ellipsis {
  0% {
    content: 'Loading';
  }
  25% {
    content: 'Loading.';
  }
  50% {
    content: 'Loading..';
  }
  75% {
    content: 'Loading...';
  }
  100% {
    content: 'Loading';
  }
}
