.itunes.customAudioPlayer {
  margin: 2em 0;
  padding-left: 4em;
  position: relative;
  border: 1px solid #c3c3c3;
  box-shadow: inset #ffffff 0 1px 0 0, rgba(77, 77, 77, 0.6) 0 1px 2px 0;
  overflow: hidden;
  height: 4em;
  box-sizing: border-box;
  background-image: linear-gradient(#f1f1f1, #e6e6e6);
  font-family: 'Arial',sans-serif;
  color: #7a7a7a;
  text-shadow: #ffffff 0 1px 0;
}

.itunes.customAudioPlayer *,
.itunes.customAudioPlayer *:before,
.itunes.customAudioPlayer *:after {
  box-sizing: inherit;
}

.itunes.customAudioPlayer .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 2em;
  margin-top: -1.25em;
  margin-left: 1em;
  border: 0.2em solid #c3c3c3;
  border-top-color: #4d4d4d;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
  text-align: center;
  line-height: 1;
  overflow: hidden;
  border-radius: 50%;
  animation: itunes_spin linear infinite 1s;
}

.itunes.customAudioPlayer.loading .loader {
  opacity: 1;
}

.itunes.customAudioPlayer .playerTrigger {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 4em;
  height: 4em;
  font-size: 1em;
  color: #7f7f7f;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #c3c3c3;
  cursor: pointer;
}

.itunes.customAudioPlayer .playerTrigger .buttonText {
  display: none;
}

.itunes.customAudioPlayer .playerTrigger:focus {
  outline: none;
}

.itunes.customAudioPlayer .playerTrigger:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -.8em;
  margin-left: -.4em;
  border-top: .8em solid transparent;
  border-left: 1em solid #7f7f7f;
  border-bottom: .8em solid transparent;
}

.itunes.customAudioPlayer .playerTrigger:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  height: 1.4em;
  margin-top: -.7em;
  margin-right: -.7em;
  border-top: 0;
  border-left: 0.6em solid #7f7f7f;
  border-bottom: 0;
  opacity: 0;
}

.itunes.customAudioPlayer .playerTrigger.songPlaying:before {
  height: 1.4em;
  margin-top: -.7em;
  margin-left: -.7em;
  border-top: 0;
  border-left: 0.6em solid #7f7f7f;
  border-bottom: 0;
}

.itunes.customAudioPlayer .playerTrigger.songPlaying:after {
  opacity: 1;
}

.itunes.customAudioPlayer .metaWrapper {
  padding: .5em;
}

.itunes.customAudioPlayer.loading .metaWrapper {
  display: none;
}

.itunes.customAudioPlayer .titleDisplay {
  display: block;
  text-align: center;
  color: #3c3c3c;
  font-weight: 500;
}

.itunes.customAudioPlayer .artistDisplay {
  font-size: .8em;
  display: block;
  text-align: center;
}

.itunes.customAudioPlayer .songPlayTimer {
  position: absolute;
  bottom: 1em;
  left: 5em;
}

.itunes.customAudioPlayer .songDuration {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.itunes.customAudioPlayer .songProgressSliderWrapper {
  height: 1rem;
  line-height: 1;
  position: absolute;
  bottom: 0;
  left: 4rem;
  right: 0;
  overflow: hidden;
}

.itunes.customAudioPlayer .songProgressSliderWrapper .songProgressSlider {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.itunes.customAudioPlayer .songProgressSliderWrapper .pseudoProgressBackground {
  height: .5em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #bcbcbc;
  width: 100%;
}

.itunes.customAudioPlayer .songProgressSliderWrapper .pseudoProgressIndicator {
  height: .5em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #707070;
  width: 0%;
}

.itunes.customAudioPlayer .songProgressSliderWrapper .pseudoProgressPlayhead {
  width: .3em;
  height: 1rem;
  position: absolute;
  bottom: 0;
  left: 0%;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
  margin-left: -.15em;
  background: #000000;
}

.itunes.customAudioPlayer input[type=range].songProgressSlider::-webkit-slider-runnable-track {
  width: 100%;
  font-size: 1rem;
  height: 2.2em;
  cursor: pointer;
}

.itunes.customAudioPlayer input[type=range].songProgressSlider::-moz-range-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
}

.itunes.customAudioPlayer input[type=range].songProgressSlider::-ms-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
}

.itunes.customAudioPlayer .songVolume {
  display: none;
}

@keyframes itunes_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
