@keyframes basic_slide {
  0% {
    transform: translateX(-2em);
  }
  100% {
    transform: translateX(0);
  }
}

.eatenbymonsters.customAudioPlayer {
  margin: 2em 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 6em;
}

.eatenbymonsters.customAudioPlayer *,
.eatenbymonsters.customAudioPlayer *:before,
.eatenbymonsters.customAudioPlayer *:after {
  box-sizing: inherit;
}

.eatenbymonsters.customAudioPlayer .loader {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2em;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.eatenbymonsters.customAudioPlayer .loader:before {
  display: block;
  content: '';
  width: 200%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  transform-origin: center center;
  box-shadow: inset #00b7c6 0 0 0 0, inset #008893 1em 0 0 0,  inset #00b7c6 2em 0 0 0,  inset #008893 3em 0 0 0,  inset #00b7c6 4em 0 0 0,  inset #008893 5em 0 0 0,  inset #00b7c6 6em 0 0 0,  inset #008893 7em 0 0 0,  inset #00b7c6 8em 0 0 0,  inset #008893 9em 0 0 0,  inset #00b7c6 10em 0 0 0,  inset #008893 11em 0 0 0,  inset #00b7c6 12em 0 0 0,  inset #008893 13em 0 0 0,  inset #00b7c6 14em 0 0 0,  inset #008893 15em 0 0 0,  inset #00b7c6 16em 0 0 0,  inset #008893 17em 0 0 0,  inset #00b7c6 18em 0 0 0,  inset #008893 19em 0 0 0,  inset #00b7c6 20em 0 0 0,  inset #008893 21em 0 0 0,  inset #00b7c6 22em 0 0 0,  inset #008893 23em 0 0 0,  inset #00b7c6 24em 0 0 0,  inset #008893 25em 0 0 0,  inset #00b7c6 26em 0 0 0,  inset #008893 27em 0 0 0,  inset #00b7c6 28em 0 0 0,  inset #008893 29em 0 0 0,  inset #00b7c6 30em 0 0 0,  inset #008893 31em 0 0 0,  inset #00b7c6 32em 0 0 0,  inset #008893 33em 0 0 0,  inset #00b7c6 34em 0 0 0,  inset #008893 35em 0 0 0,  inset #00b7c6 36em 0 0 0,  inset #008893 37em 0 0 0,  inset #00b7c6 38em 0 0 0,  inset #008893 39em 0 0 0,  inset #00b7c6 40em 0 0 0,  inset #008893 41em 0 0 0,  inset #00b7c6 42em 0 0 0,  inset #008893 43em 0 0 0,  inset #00b7c6 44em 0 0 0,  inset #008893 45em 0 0 0,  inset #00b7c6 46em 0 0 0,  inset #008893 47em 0 0 0,  inset #00b7c6 48em 0 0 0,  inset #008893 49em 0 0 0,  inset #00b7c6 50em 0 0 0,  inset #008893 51em 0 0 0,  inset #00b7c6 52em 0 0 0,  inset #008893 53em 0 0 0,  inset #00b7c6 54em 0 0 0,  inset #008893 55em 0 0 0,  inset #00b7c6 56em 0 0 0,  inset #008893 57em 0 0 0,  inset #00b7c6 58em 0 0 0,  inset #008893 59em 0 0 0,  inset #00b7c6 60em 0 0 0,  inset #008893 61em 0 0 0,  inset #00b7c6 62em 0 0 0,  inset #008893 63em 0 0 0,  inset #00b7c6 64em 0 0 0,  inset #008893 65em 0 0 0,  inset #00b7c6 66em 0 0 0,  inset #008893 67em 0 0 0,  inset #00b7c6 68em 0 0 0,  inset #008893 69em 0 0 0,  inset #00b7c6 70em 0 0 0,  inset #008893 71em 0 0 0,  inset #00b7c6 72em 0 0 0,  inset #008893 73em 0 0 0,  inset #00b7c6 74em 0 0 0,  inset #008893 75em 0 0 0,  inset #00b7c6 76em 0 0 0,  inset #008893 77em 0 0 0,  inset #00b7c6 78em 0 0 0,  inset #008893 79em 0 0 0,  inset #00b7c6 80em 0 0 0,  inset #008893 81em 0 0 0,  inset #00b7c6 82em 0 0 0,  inset #008893 83em 0 0 0,  inset #00b7c6 84em 0 0 0,  inset #008893 85em 0 0 0,  inset #00b7c6 86em 0 0 0,  inset #008893 87em 0 0 0,  inset #00b7c6 88em 0 0 0,  inset #008893 89em 0 0 0,  inset #00b7c6 90em 0 0 0,  inset #008893 91em 0 0 0,  inset #00b7c6 92em 0 0 0,  inset #008893 93em 0 0 0,  inset #00b7c6 94em 0 0 0,  inset #008893 95em 0 0 0,  inset #00b7c6 96em 0 0 0,  inset #008893 97em 0 0 0,  inset #00b7c6 98em 0 0 0,  inset #008893 99em 0 0 0,  inset #00b7c6 100em 0 0 0;
  animation: basic_slide linear infinite 0.4s;
}

.eatenbymonsters.customAudioPlayer.loading .loader {
  opacity: 1;
}

.eatenbymonsters.customAudioPlayer .playerTrigger {
  border: none;
  appearance: none;
  width: 3em;
  height: 4em;
  font-size: 1em;
  color: #ffffff;
  background: #555;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.eatenbymonsters.customAudioPlayer .playerTrigger .buttonText {
  display: none;
}

.eatenbymonsters.customAudioPlayer .playerTrigger:focus {
  outline: none;
}

.eatenbymonsters.customAudioPlayer .playerTrigger:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.6em;
  margin-left: -0.25em;
  border-top: 0.6em solid transparent;
  border-left: 0.8em solid #ffffff;
  border-bottom: 0.6em solid transparent;
}

.eatenbymonsters.customAudioPlayer .playerTrigger:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  height: 1em;
  margin-top: -0.5em;
  margin-right: -0.5em;
  border-top: 0;
  border-left: 0.4em solid #ffffff;
  border-bottom: 0;
  opacity: 0;
}

.eatenbymonsters.customAudioPlayer .playerTrigger.songPlaying:before {
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  border-top: 0;
  border-left: 0.4em solid #ffffff;
  border-bottom: 0;
}

.eatenbymonsters.customAudioPlayer .playerTrigger.songPlaying:after {
  opacity: 1;
}

.eatenbymonsters.customAudioPlayer .metaWrapper {
  padding: 0.5em 1.5em 0.5em 3.5em;
  height: 4em;
  overflow: auto;
  background: #00b7c6;
  background: rgba(0, 183, 198, 0.3);
}

.eatenbymonsters.customAudioPlayer .metaWrapper .titleDisplay {
  display: block;
  line-height: 1;
  font-weight: bold;
}

.eatenbymonsters.customAudioPlayer .metaWrapper .artistDisplay {
  display: block;
  line-height: 1;
}

.eatenbymonsters.customAudioPlayer .timingsWrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2em;
  background: red;
}

.eatenbymonsters.customAudioPlayer .timingsWrapper .songPlayTimer,
.eatenbymonsters.customAudioPlayer .timingsWrapper .songDuration {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 4em;
  text-align: center;
  background: transparent;
  color: #ffffff;
  line-height: 2;
  height: 2em;
  pointer-events: none;
}

.eatenbymonsters.customAudioPlayer .timingsWrapper .songPlayTimer {
  left: 0;
}

.eatenbymonsters.customAudioPlayer .timingsWrapper .songDuration {
  right: 0;
}

.eatenbymonsters.customAudioPlayer.loading .songPlayTimer,
.eatenbymonsters.customAudioPlayer.loading .songDuration {
  display: none;
}

.eatenbymonsters.customAudioPlayer .songProgressSliderWrapper {
  height: 2em;
  font-size: 1em;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #555;
  overflow: hidden;
}

.eatenbymonsters.customAudioPlayer .songProgressSliderWrapper .songProgressSlider {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.eatenbymonsters.customAudioPlayer .songProgressSliderWrapper .pseudoProgressIndicator {
  height: 2em;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 183, 198, 0.4);
  width: 0%;
}

.eatenbymonsters.customAudioPlayer .songProgressSliderWrapper .pseudoProgressPlayhead {
  width: 1em;
  height: 2em;
  position: absolute;
  top: 50%;
  left: 0%;
  margin-top: -1em;
  margin-left: -0.5em;
  background: #00b7c6;
}

.eatenbymonsters.customAudioPlayer.loading .pseudoProgressIndicator,
.eatenbymonsters.customAudioPlayer.loading .pseudoProgressPlayhead {
  display: none;
}

.eatenbymonsters.customAudioPlayer input[type='range'].songProgressSlider::-webkit-slider-runnable-track {
  width: 100%;
  font-size: 1em;
  height: 2.2em;
  cursor: pointer;
}

.eatenbymonsters.customAudioPlayer input[type='range'].songProgressSlider::-moz-range-track {
  width: 100%;
  height: 2em;
  cursor: pointer;
}

.eatenbymonsters.customAudioPlayer input[type='range'].songProgressSlider::-ms-track {
  width: 100%;
  height: 2em;
  cursor: pointer;
}

.eatenbymonsters.customAudioPlayer .songVolume {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5em;
  height: 4em;
  overflow: hidden;
  z-index: 2;
}

.eatenbymonsters.customAudioPlayer .songVolume .songMuteButton {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
  border: 0;
  appearance: none;
  background: #555;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.eatenbymonsters.customAudioPlayer .songVolume .songMuteButton:before {
  display: block;
  width: 0.4rem;
  height: 0.3rem;
  position: absolute;
  content: '';
  top: 50%;
  right: 50%;
  margin-right: -0.1rem;
  transform: translateY(-50%);
  background: #ffffff;
}

.eatenbymonsters.customAudioPlayer .songVolume .songMuteButton:after {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -0.4rem;
  right: 50%;
  margin-right: -0.2rem;
  border-top: 0.4rem solid transparent;
  border-right: 0.4rem solid #ffffff;
  border-bottom: 0.4rem solid transparent;
}

.eatenbymonsters.customAudioPlayer .songVolume .songMuteButton.songMuted:before {
  background: #dad8d2;
}

.eatenbymonsters.customAudioPlayer .songVolume .songMuteButton.songMuted:after {
  border-right-color: #dad8d2;
}

.eatenbymonsters.customAudioPlayer .songVolumeValue {
  margin-left: 0.2em;
}

.eatenbymonsters.customAudioPlayer .songVolumeLabelWrapper {
  display: none;
}

.eatenbymonsters.customAudioPlayer .songVolumeSliderWrapper {
  display: block;
  height: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: #aca79a;
  width: 2.5em;
  transform: rotate(90deg);
  transform-origin: bottom left;
}

.eatenbymonsters.customAudioPlayer .songVolumeSliderWrapper .songVolumeSlider {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotate(180deg);
}

.eatenbymonsters.customAudioPlayer .songVolumeSliderWrapper .pseudoVolumeIndicator {
  height: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  background: #00b7c6;
  width: 100%;
  transform: rotate(180deg);
}

.eatenbymonsters.customAudioPlayer .songVolumeSliderWrapper .pseudoVolumePlayhead {
  display: none;
}

.eatenbymonsters.customAudioPlayer input[type='range'].songVolumeSlider::-webkit-slider-runnable-track {
  width: 100%;
  font-size: 1em;
  height: 1.5em;
  cursor: pointer;
}

.eatenbymonsters.customAudioPlayer input[type='range'].songVolumeSlider::-moz-range-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
}

.eatenbymonsters.customAudioPlayer input[type='range'].songVolumeSlider::-ms-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
}
