// -------------------
// COLOURS
//
// Declare the colour
// variables we'll use
// for our player.
// -------------------

$grey: #dad8d2;
$grey_dark: #888;
$white: #ffffff;
$black: #000;

$border: #a2a2a2;
$unplayed: #eeeeee;
$played: #ff3530;
$text_dark: $black;

$icon_grey: #7f7f7f;
$background_grey_dark: #e6e6e6;
$background_grey_light: #f1f1f1;
$playhead: #000000;
$text_light: #969696;

// ----------------------
// BOX SHADOW BARS
//
// This creates a pattern
// of repeating stripes &
// is used to provide the
// animated background of
// the loading indicator.
// ----------------------
@function pitchfork_boxShadow ($n, $colour1, $colour2) {
    $value: 'inset #{$colour1} 0 0 0 0,';
    @for $i from 1 through $n {
        @if ($i % 2 != 0) {
            $value: '#{$value} inset #{$colour2} #{$i / 2}em 0 0 0';
        } @else {
            $value: '#{$value} inset #{$colour1} #{$i / 2}em 0 0 0';
        }
        @if ($i < $n) {
            $value: '#{$value}, ';
        }
    }
    @return unquote($value);
}

// -------------
// PLAYER STYLES
//
// All rules are
// nested within
// a theme class
// name - making
// switching the
// themes easy.
// -------------
.pitchfork.customAudioPlayer {
    margin: 2em 0;
    padding: 1em;
    padding-left: 4em;
    position: relative;
    border: 2px solid $border;
    overflow: hidden;
    box-sizing: border-box;
    background: $white;
    font-family: 'Arial', sans-serif;
    color: $text_light;
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .loader {
        position: absolute;
        top: 3.1em;
        left: 7.2em;
        right: 4.2em;
        height: 0.4em;
        z-index: 2;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s;
        text-align: center;
        line-height: 1;
        overflow: hidden;
        border-radius: 0.2em;
        &:before {
            display: block;
            content: '';
            width: 130%;
            height: 600%;
            position: absolute;
            z-index: 1;
            top: -200%;
            left: 0;
            box-shadow: pitchfork_boxShadow(100, $unplayed, $grey);
            animation: pitchfork_slide linear infinite 0.3s;
            transform-origin: center;
        }
    }
    &.loading .loader {
        opacity: 1;
    }

    .playerTrigger {
        border: none;
        appearance: none;
        width: 2.6em;
        height: 2.6em;
        font-size: 1em;
        color: $icon_grey;
        background: $white;
        position: absolute;
        top: 50%;
        margin-top: -1.3em;
        left: 1em;
        border: 2px solid $black;
        border-radius: 50%;
        cursor: pointer;
        .buttonText {
            display: none;
        }
        &:focus {
            outline: none;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -0.6em;
            margin-left: -0.25em;
            border-top: 0.6em solid transparent;
            border-left: 0.8em solid $black;
            border-bottom: 0.6em solid transparent;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 50%;
            height: 1em;
            margin-top: -0.5em;
            margin-right: -0.5em;
            border-top: 0;
            border-left: 0.4em solid $black;
            border-bottom: 0;
            opacity: 0;
        }
        &.songPlaying:before {
            height: 1em;
            margin-top: -0.5em;
            margin-left: -0.5em;
            border-top: 0;
            border-left: 0.4em solid $black;
            border-bottom: 0;
        }
        &.songPlaying:after {
            opacity: 1;
        }
    }

    .metaWrapper {
        color: $black;
        padding: 0 1em;
        margin-bottom: 1em;
    }

    .titleDisplay {
        font-weight: bold;
        &:before {
            content: '“';
        }
        &:after {
            content: '”';
        }
    }

    .artistDisplay {
        &:before {
            content: ' – ';
        }
    }

    .songPlayTimer {
        position: absolute;
        bottom: 1em;
        left: 5em;
    }
    .songDuration {
        position: absolute;
        bottom: 1em;
        right: 1em;
    }

    .timingsWrapper {
        padding: 0 4em;
        position: relative;
        font-size: 0.8em;
        width: 100%;
        float: left;
        .songPlayTimer,
        .songDuration {
            position: absolute;
            top: -0.2em;
            width: 4em;
            text-align: center;
            line-height: 1;
        }
        .songPlayTimer {
            left: 0;
            border-radius: 0.5em 0 0 0.5em;
        }
        .songDuration {
            right: 0;
            border-radius: 0 0.5em 0.5em 0;
        }
    }

    $progressHeight: 0.4rem;

    .songProgressSliderWrapper {
        height: $progressHeight;
        line-height: 1;
        position: relative;
        border-radius: 0.2rem;
        overflow: hidden;
        .songProgressSlider {
            width: 100%;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .pseudoProgressBackground {
            height: $progressHeight;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $unplayed;
            width: 100%;
        }
        .pseudoProgressIndicator {
            height: $progressHeight;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $played;
            width: 0%;
        }
        .pseudoProgressPlayhead {
            display: none;
        }
    }

    // Make sure the range Track is the right size and shape
    input[type='range'].songProgressSlider::-webkit-slider-runnable-track {
        width: 100%;
        font-size: $progressHeight;
        height: 2.2em;
        cursor: pointer;
    }
    input[type='range'].songProgressSlider::-moz-range-track {
        width: 100%;
        height: $progressHeight;
        cursor: pointer;
    }
    input[type='range'].songProgressSlider::-ms-track {
        width: 100%;
        height: $progressHeight;
        cursor: pointer;
    }

    .songVolume {
        display: none;
    }
}

@keyframes pitchfork_slide {
    0% {
        transform: translateX(-2em);
    }
    100% {
        transform: translateX(0);
    }
}
