// -------------------
// COLOURS
//
// Declare the colour
// variables we'll use
// for our player.
// -------------------

$white: #ffffff;
$black: #000000;
$green: #305353;
$pink: #f54997;
$highlight: $pink;
$border: #363733;
$grey: #808080;

$unplayed: $black;
$played: $highlight;

// -------------------
// BOX SHADOW BARS
//
// Use box-shadow to
// create a pattern of
// repeating stripes.
// -------------------
@function boxShadow ($n, $colour1, $colour2) {
    $value: 'inset #{$colour1} 0 0 0 0,';
    @for $i from 1 through $n {
        @if ($i % 2 != 0) {
            $value: '#{$value} inset #{$colour2} #{$i}em 0 0 0';
        } @else {
            $value: '#{$value} inset #{$colour1} #{$i}em 0 0 0';
        }
        @if ($i < $n) {
            $value: '#{$value}, ';
        }
    }
    @return unquote($value);
}

// -------------
// PLAYER STYLES
//
// All rules are
// nested within
// a theme class
// name - making
// switching the
// themes easy.
// -------------
.bbc.customAudioPlayer {
    margin: 2em 0;
    padding: 0em;
    padding-left: 4em;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    background: $white;
    font-family: 'Arial', sans-serif;
    height: 6em;
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3em;
        background: $black;
        z-index: 2;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s;
        text-align: center;
        line-height: 1;
        padding: 1em;
        overflow: hidden;
        &:after {
            content: 'Loading';
            display: block;
            width: 6em;
            text-align: left;
            color: $white;
            animation: ellipsis linear infinite 0.8s;
            position: absolute;
            top: 1em;
            padding-left: 1em;
            left: 50%;
            margin-left: -3em;
            z-index: 2;
        }
        &:before {
            display: block;
            content: '';
            width: 130%;
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            box-shadow: boxShadow(100, $black, $highlight);
            animation: slide linear infinite 0.2s;
        }
    }
    &.loading .loader {
        opacity: 1;
    }

    .playerTrigger {
        border: none;
        appearance: none;
        width: 3em;
        height: 3em;
        font-size: 1em;
        background: $black;
        border-right: 1px solid $border;
        position: absolute;
        bottom: 0;
        margin-top: -1.3em;
        left: 0;
        cursor: pointer;
        transition: background 0.2s;
        .buttonText {
            display: none;
        }
        &:focus {
            outline: none;
        }
        &:hover {
            background: $highlight;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -0.6em;
            margin-left: -0.25em;
            border-top: 0.6em solid transparent;
            border-left: 0.8em solid $white;
            border-bottom: 0.6em solid transparent;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right: 50%;
            height: 1em;
            margin-top: -0.5em;
            margin-right: -0.5em;
            border-top: 0;
            border-left: 0.4em solid $white;
            border-bottom: 0;
            opacity: 0;
        }
        &.songPlaying:before {
            height: 1em;
            margin-top: -0.5em;
            margin-left: -0.5em;
            border-top: 0;
            border-left: 0.4em solid $white;
            border-bottom: 0;
        }
        &.songPlaying:after {
            opacity: 1;
        }
    }

    .metaWrapper {
        color: $white;
        background: $black;
        padding: 1em;
        margin-bottom: 1em;
        position: absolute;
        top: 3em;
        height: 3em;
        left: 12em;
        right: 6em;
    }

    .titleDisplay {
        line-height: 1;
        padding-bottom: 0.2em;
    }

    .artistDisplay {
        color: $grey;
        margin-left: 1em;
        line-height: 1;
    }

    .timingsWrapper {
        padding: 1em;
        position: absolute;
        top: 0;
        left: 0;
        height: 3em;
        font-size: 1em;
        width: 100%;
        float: left;
        background: rgba($black, 0.5);
        .songPlayTimer,
        .songDuration {
            position: absolute;
            display: block;
            top: 3em;
            height: 3em;
            width: 4.5em;
            color: $white;
            background: $black;
            border: 0;
            padding: 1em 0;
            text-align: right;
            border-radius: 0;
        }
        .songPlayTimer {
            right: 4.5em;
            padding-right: 0.3em;
            isplay: inline-block;
            width: auto;
            padding-left: 1em;
            border-left: 1px solid $border;
        }
        .songDuration {
            text-align: left;
            right: 0;
            color: $grey;
            &:before {
                // display: block;
                // position: absolute;
                // top: 1em;
                // left: 0;
                padding-right: 0.2em;
                content: '/';
            }
        }
    }

    $progressHeight: 0.6rem;

    .progress-slider__wrapper {
        height: 1em;
        line-height: 1;
        position: absolute;
        top: 1em;
        left: 1em;
        right: 1em;
        .progress-slider__range {
            width: 100%;
            padding: 0;
            height: 1em;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .progress-slider__background {
            height: 0.5em;
            position: absolute;
            top: 0.25em;
            left: 0;
            background: $unplayed;
            width: 100%;
        }
        .progress-slider__progress-indicator {
            height: 0.5em;
            position: absolute;
            top: 0.25em;
            left: 0;
            background: $highlight;
            width: 0%;
        }
        .progress-slider__playhead {
            background: $black;
            box-shadow: inset $white 0 0 0 0.2em;
            width: 0.5em;
            height: 1em;
            position: absolute;
            top: 0;
            left: 0%;
            margin-left: -0.25em;
        }
    }

    // Make sure the range Track is the right size and shape
    input[type='range'].progress-slider__range::-webkit-slider-runnable-track {
        width: 100%;
        font-size: $progressHeight;
        height: 2em;
        cursor: pointer;
    }
    input[type='range'].progress-slider__range::-moz-range-track {
        width: 100%;
        height: $progressHeight;
        cursor: pointer;
    }
    input[type='range'].progress-slider__range::-ms-track {
        width: 100%;
        height: $progressHeight;
        cursor: pointer;
    }

    .songVolume {
        width: 9em;
        height: 3em;
        position: absolute;
        bottom: 0;
        left: 3em;
        background: $black;
        border-right: 1px solid $border;
    }

    .songMuteButton {
        width: 3em;
        height: 3em;
        font-size: 1em;
        border: 0;
        appearance: none;
        position: absolute;
        bottom: 0;
        left: 0;
        cursor: pointer;
        background: $black;
        color: transparent;
        &:before {
            display: block;
            width: 0.5em;
            height: 0.5em;
            position: absolute;
            content: '';
            top: 50%;
            right: 50%;
            margin-right: 0.1em;
            transform: translateY(-50%);
            background: $white;
        }
        &:after {
            display: block;
            width: 0.5em;
            height: 0.5em;
            position: absolute;
            content: '';
            top: 50%;
            margin-top: -0.5em;
            right: 50%;
            border-top: 0.5em solid transparent;
            border-right: 0.5em solid $white;
            border-bottom: 0.5em solid transparent;
        }
        &:focus {
            outline: none;
        }
    }

    .songVolume:hover .songMuteButton {
        background: $highlight;
    }

    .songVolumeLabel {
        display: block;
        position: absolute;
        top: 50%;
        height: 1rem;
        margin-top: -0.5rem;
        width: 1rem;
        font-size: 0;
        left: 50%;
        border-top: 2px solid $white;
        border-right: 2px solid $white;
        border-radius: 0 0.8rem 0 0;
        transform: rotate(45deg);
    }
    .songVolumeValue {
        display: block;
        position: absolute;
        top: 50%;
        height: 0.6rem;
        margin-top: -0.3rem;
        width: 0.6rem;
        font-size: 0;
        left: 50%;
        border-top: 2px solid $white;
        border-right: 2px solid $white;
        border-radius: 0 0.5rem 0 0;
        transform: rotate(45deg);
    }

    .songMuteButton.songMuted + .songVolumeLabelWrapper .songVolumeLabel {
        border-right: 0;
        border-radius: 0;
        width: 0.6rem;
        transform-origin: center;
        transform: rotate(-45deg);
        height: 0;
        margin-top: -0.05rem;
        margin-left: 0.2rem;
    }

    .songMuteButton.songMuted + .songVolumeLabelWrapper .songVolumeValue {
        border-right: 0;
        border-radius: 0;
        height: 0;
        width: 0.6rem;
        margin-top: -0.05rem;
        transform-origin: center;
        margin-left: 0.2rem;
    }

    .songVolumeLabelWrapper {
        position: absolute;
        height: 3em;
        width: 3em;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .songVolumeSliderWrapper {
        transform-origin: 0 0;
        position: absolute;
        top: 0;
        left: 3em;
        height: 3em;
        position: relative;
        background: $black;
        border-left: 1px solid $border;
        width: 6em;

        .songVolumeSlider {
            width: 100%;
            padding: 0;
            margin: 0;
            height: 3em;
            left: 0;
            opacity: 0;
        }

        .pseudoVolumeBackground {
            height: 1.5em;
            position: absolute;
            bottom: 0.5em;
            left: 0;
            background: $grey;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $grey 0em,
                $grey 0.25em,
                $black 0.25em,
                $black 0.5em,
                $grey 0.5em,
                $grey 0.75em,
                $black 0.75em,
                $black 1em,
                $grey 1em,
                $grey 1.25em,
                $black 1.25em,
                $black 1.5em,
                $grey 1.5em,
                $grey 1.75em,
                $black 1.75em,
                $black 2em,
                $grey 2em,
                $grey 2.25em,
                $black 2.25em,
                $black 2.5em,
                $grey 2.5em,
                $grey 2.75em,
                $black 2.75em,
                $black 3em,
                $grey 3em,
                $grey 3.25em,
                $black 3.25em,
                $black 3.5em,
                $grey 3.5em,
                $grey 3.75em,
                $black 3.75em,
                $black 4em,
                $grey 4em,
                $grey 4.25em,
                $black 4.25em,
                $black 4.5em,
                $grey 4.5em,
                $grey 4.75em,
                $black 4.75em,
                $black 5em,
                $grey 5em,
                $grey 5.25em,
                $black 5.25em,
                $black 5.5em,
                $grey 5.5em,
                $grey 5.75em,
                $black 5.75em,
                $black 6em,
                $grey 6em,
                $grey 6.25em,
                $black 6.25em,
                $black 6.5em,
                $grey 6.5em,
                $grey 6.75em,
                $black 6.75em,
                $black 7em,
                $grey 7em,
                $grey 7.25em,
                $black 7.25em,
                $black 7.5em,
                $grey 7.5em,
                $grey 7.75em,
                $black 7.75em,
                $black 8em,
                $grey 8em,
                $grey 8.25em,
                $black 8.25em,
                $black 8.5em,
                $grey 8.5em,
                $grey 8.75em,
                $black 8.75em,
                $black 9em,
                $grey 9em,
                $grey 9.25em,
                $black 9.25em,
                $black 9.5em,
                $grey 9.5em,
                $grey 9.75em,
                $black 9.75em,
                $black 10em
            );
        }
        .pseudoVolumeIndicator {
            height: 1.5em;
            position: absolute;
            bottom: 0.5em;
            left: 0;
            background: $highlight;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $highlight 0em,
                $highlight 0.25em,
                $black 0.25em,
                $black 0.5em,
                $highlight 0.5em,
                $highlight 0.75em,
                $black 0.75em,
                $black 1em,
                $highlight 1em,
                $highlight 1.25em,
                $black 1.25em,
                $black 1.5em,
                $highlight 1.5em,
                $highlight 1.75em,
                $black 1.75em,
                $black 2em,
                $highlight 2em,
                $highlight 2.25em,
                $black 2.25em,
                $black 2.5em,
                $highlight 2.5em,
                $highlight 2.75em,
                $black 2.75em,
                $black 3em,
                $highlight 3em,
                $highlight 3.25em,
                $black 3.25em,
                $black 3.5em,
                $highlight 3.5em,
                $highlight 3.75em,
                $black 3.75em,
                $black 4em,
                $highlight 4em,
                $highlight 4.25em,
                $black 4.25em,
                $black 4.5em,
                $highlight 4.5em,
                $highlight 4.75em,
                $black 4.75em,
                $black 5em,
                $highlight 5em,
                $highlight 5.25em,
                $black 5.25em,
                $black 5.5em,
                $highlight 5.5em,
                $highlight 5.75em,
                $black 5.75em,
                $black 6em,
                $highlight 6em,
                $highlight 6.25em,
                $black 6.25em,
                $black 6.5em,
                $highlight 6.5em,
                $highlight 6.75em,
                $black 6.75em,
                $black 7em,
                $highlight 7em,
                $highlight 7.25em,
                $black 7.25em,
                $black 7.5em,
                $highlight 7.5em,
                $highlight 7.75em,
                $black 7.75em,
                $black 8em,
                $highlight 8em,
                $highlight 8.25em,
                $black 8.25em,
                $black 8.5em,
                $highlight 8.5em,
                $highlight 8.75em,
                $black 8.75em,
                $black 9em,
                $highlight 9em,
                $highlight 9.25em,
                $black 9.25em,
                $black 9.5em,
                $highlight 9.5em,
                $highlight 9.75em,
                $black 9.75em,
                $black 10em
            );
        }
        .pseudoVolumePlayhead {
            background: $white;
            width: 0.2em;
            height: 2em;
            position: absolute;
            bottom: 0.5em;
            left: 100%;
            margin-left: -0.1em;
        }
    }
    .songVolume:hover .songVolumeSliderWrapper {
        display: block;
    }

    // Make sure the range Track is the right size and shape
    input[type='range'].songVolumeSlider::-webkit-slider-runnable-track {
        width: 100%;
        font-size: 1em;
        height: 3em;
        cursor: pointer;
    }
    input[type='range'].songVolumeSlider::-moz-range-track {
        width: 100%;
        height: 3em;
        cursor: pointer;
    }
    input[type='range'].songVolumeSlider::-ms-track {
        width: 100%;
        height: 3em;
        cursor: pointer;
    }
}

@keyframes slide {
    0% {
        transform: translateX(-2em);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes ellipsis {
    0% {
        content: 'Loading';
    }
    25% {
        content: 'Loading.';
    }
    50% {
        content: 'Loading..';
    }
    75% {
        content: 'Loading...';
    }
    100% {
        content: 'Loading';
    }
}
