form{
	margin:0 0 1em 0;
	input{
		width:100%;
		// margin-bottom:em;
		border:.15rem solid $primary;
		border-radius:.5em;
		padding:.5em;
		font-size:1em;
		line-height:1;
		height:2em;
		font-family:$display;
		color:$black;
		&:focus{
			outline:none;
			border-color:$green;
		}
	}
	label{
		display:block;
		margin-bottom:.2em;
	}
	button{
		@extend %buttonReset;
		@extend strong;
		background:$cream;
		display:block;
		font-size:1em;
		border:.15rem solid $primary;
		border-radius:.5em;
		padding:.5em .5em;
		line-height:1;
		color:$primary;
		box-shadow:rgba($black,.4) 0 0 0 0;

		&:focus{
			outline:none;
		}
		&:hover{
			background:$primary;
			color:$cream;
			box-shadow:rgba($black,.4) 0 .1em .1em 0;
		}
	}
	button.submitButton{
		@extend %buttonReset;
		font-size:1.2em;
		@extend strong;
		background:$cream;
		display:block;
		border:.15rem solid $primary;
		border-radius:.5em;
		padding:.5em;
		color:$primary;
		box-shadow:rgba($black,.4) 0 0 0 0;
		// text-transform:uppercase;
		// letter-spacing:.1em;
		transition:background,color,box-shadow;
		transition-duration:.2s;
		// margin-bottom:1em;
		position:relative;
		z-index:1;

		&:focus{
			outline:none;
			border-color:$green;
		}
		&:hover{
			background:$primary;
			color:$cream;
			box-shadow:rgba($black,.4) 0 .1em .1em 0;
		}
	}
}