.customAudioPlayer{
    background:$grey;
    margin:2em 0;
}

.playlistSongTrigger{
    width:2em;
    height:2em;
    color:$white;
    background:$black;
}

.metaWrapper{
    .titleDisplay{

    }
}

.timingsWrapper{
    .songPlayTimer{}
    .songProgressSliderWrapper{
        .songProgressSlider{}
        .pseudoProgressIndicator{}
        .pseudoProgressPlayhead{}
    }
    .songDuration{

    }
}