$grey:#dad8d2;
$grey_dark:#888;
$white:#ffffff;
$black:#4d4d4d;

$icon_grey:#7f7f7f;
$background_grey_dark:#e6e6e6;
$background_grey_light:#f1f1f1;
$border:#c3c3c3;
$played_grey:#707070;
$unplayed_grey:#bcbcbc;
$playhead:#000000;
$text_dark:#3c3c3c;
$text_light:#7a7a7a;

.itunes.customAudioPlayer{
    // border:.2em solid $grey;
    margin:2em 0;
    padding-left:4em;
    // padding:.5em .5em .5em 3em;
    position:relative;
    border:1px solid $border;
    box-shadow:
        inset $white 0 1px 0 0,
        rgba($black,.6) 0 1px 2px 0;
    // border-radius:.5em;
    overflow:hidden;
    height:4em;
    box-sizing:border-box;
    background-image:linear-gradient($background_grey_light,$background_grey_dark);

    font-family:'Arial',sans-serif;
    color:$text_light;
    text-shadow:
        // $black 0 -1px 0,
        $white 0 1px 0;
    *,
    *:before,
    *:after{box-sizing:inherit;}

    .loader{
        position:absolute;
        top:50%;
        left:50%;
        width:2em;
        height:2em;
        margin-top:-1.25em;
        margin-left:1em;
        border:.2em solid $border;
        border-top-color:$black;
        // background:$black;//rgba(red,.3);
        z-index:2;
        pointer-events:none;
        opacity:0;
        transition:opacity .2s;
        text-align:center;
        line-height:1;
        // padding:1em;
        overflow:hidden;
        border-radius:50%;
        animation:itunes_spin linear infinite 1s;

    }
    &.loading .loader{
        opacity:1;
    }

    .playerTrigger{
        border:none;
        appearance:none;
        width:4em;
        height:4em;
        font-size:1em;
        color:$icon_grey;
        background:$white;
        position:absolute;
        top:0;
        left:0;
        border-right:1px solid $border;
        // margin-top:-1em;
        cursor:pointer;
        .buttonText{
            display:none;
        }
        &:focus{
            outline:none;
            // box-shadow:$grey 0 0 0 .2em;
        }
        &:before{
            content:'';
            display:block;
            position:absolute;
            top:50%;
            left:50%;
            margin-top:-.8em;
            margin-left:-.4em;
            border-top:.8em solid transparent;
            border-left:1em solid $icon_grey;
            border-bottom:.8em solid transparent;
            // transition:border height margin top;
            // transition-duration:.2s;
        }
        &:after{
            content:'';
            display:block;
            position:absolute;
            top:50%;
            right:50%;
            height:1.4em;
            margin-top:-.7em;
            margin-right:-.7em;
            border-top:0;
            border-left:.6em solid $icon_grey;
            border-bottom:0;
            opacity:0;
            // transition:opacity .2s;
        }
        &.songPlaying:before{
            height:1.4em;
            margin-top:-.7em;
            margin-left:-.7em;
            border-top:0;
            border-left:.6em solid $icon_grey;
            border-bottom:0;
        }
        &.songPlaying:after{
            opacity:1;
        }
    }

    .metaWrapper{
        padding:.5em;
    }

    &.loading .metaWrapper{
        display:none;
    }

    .titleDisplay{
        display:block;
        text-align:center;
        color:$text_dark;
        font-weight:500;
    }

    .artistDisplay{
        font-size:.8em;
        display:block;
        text-align:center;
    }

    .songPlayTimer{
        position:absolute;
        bottom:1em;
        left:5em;
    }
    .songDuration{
        position:absolute;
        bottom:1em;
        right:1em;
    }

    // .metaWrapper{
    //     margin-bottom:.5em;
    //     overflow:auto;
    //     .titleDisplay{
    //         font-weight:bold;
    //         margin-right:.5em;
    //     }
    // }

    // .timingsWrapper{
    //     padding:0 4em;
    //     position:relative;
    //     font-size:.8em;
    //     width:70%;
    //     float:left;
    //     .songPlayTimer,
    //     .songDuration{
    //         position:absolute;
    //         top:0;
    //         width:4em;
    //         text-align:center;
    //         background:$grey;
    //         line-height:2;
    //         height:2em;
    //     }
    //     .songPlayTimer{
    //         left:0;
    //         border-radius:.5em 0 0 .5em;
    //     }
    //     .songDuration{
    //         right:0;
    //         border-radius:0 .5em .5em 0;
    //     }
    // }
    
    $progressHeight:1rem;

    .songProgressSliderWrapper{

        height:$progressHeight;
        // font-size:.8em;
        line-height:1;
        position:absolute;
        bottom:0;
        left:4rem;
        right:0;
        // width:100%;
        // background:red;
        overflow:hidden;
        .songProgressSlider{
            width:100%;
            padding:0;
            margin:0;
            position:absolute;
            top:0;
            left:0;
            opacity:0;
        }

        .pseudoProgressBackground{
            height:.5em;
            position:absolute;
            bottom:0;
            left:0;
            background:$unplayed_grey;
            width:100%;
        }
        .pseudoProgressIndicator{
            height:.5em;
            position:absolute;
            bottom:0;
            left:0;
            background:$played_grey;
            width:0%;
        }
        .pseudoProgressPlayhead{
            width:.3em;
            height:$progressHeight;
            position:absolute;
            bottom:0;
            left:0%;
            // border-radius:50%;
            border-top-left-radius:.2em;
            border-top-right-radius:.2em;
            // margin-top:-1em;
            margin-left:-.15em;
            background:$playhead;
            // border:.2em solid black;
        }
    }

    // Make sure the range Track is the right size and shape
    input[type=range].songProgressSlider::-webkit-slider-runnable-track {
      width:100%;
      font-size:$progressHeight;
      height:2.2em;
      cursor:pointer;
    }
    input[type=range].songProgressSlider::-moz-range-track {
      width:100%;
      height:$progressHeight;
      cursor:pointer;
    }
    input[type=range].songProgressSlider::-ms-track {
      width:100%;
      height:$progressHeight;
      cursor:pointer;
    }

    .songVolume{
        display:none;
        // padding-top:.4em;
        // width:28%;
        // float:right;
        // overflow:auto;
    }

    // .songVolumeValue{
    //     margin-left:.2em;
    // }

    // .songVolumeLabelWrapper{
    //     width:50%;
    //     float:left;
    // }

    // .songVolumeSliderWrapper{
    //     height:1em;
    //     font-size:.8em;
    //     position:relative;
    //     background:$grey;
    //     width:50%;
    //     float:left;
    //     .songVolumeSlider{
    //         width:100%;
    //         padding:0;
    //         margin:0;
    //         position:absolute;
    //         top:0;
    //         left:0;
    //         opacity:0;
    //     }
    //     .pseudoVolumeIndicator{
    //         height:1em;
    //         position:absolute;
    //         top:0;
    //         left:0;
    //         background:$grey_dark;
    //         width:100%;
    //     }
    //     .pseudoVolumePlayhead{
    //         display:none;
    //     }
    // }

    // // Make sure the range Track is the right size and shape
    // input[type=range].songVolumeSlider::-webkit-slider-runnable-track {
    //   width:100%;
    //   font-size:1em;
    //   height:1em;
    //   cursor:pointer;
    // }
    // input[type=range].songVolumeSlider::-moz-range-track {
    //   width:100%;
    //   height:1em;
    //   cursor:pointer;
    // }
    // input[type=range].songVolumeSlider::-ms-track {
    //   width:100%;
    //   height:1em;
    //   cursor:pointer;
    // }
}

@keyframes itunes_spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}