$grey:#dad8d2;
$grey_dark:#888;
$white:#ffffff;
$black:#333333;

$orange:#fa5300;
$volume_bg:#f2f2f2;

$border:#cecece;
$unplayed:#c8c8c8;
$played:#ff3530;
$text_dark:#666666;

$icon_grey:#7f7f7f;
$background_grey_dark:#dedede;
$background_grey_light:#f2f2f2;
$playhead:#000000;
$text_light:#969696;

@function soundcloud_boxShadow ($n, $colour1, $colour2) {
    $value: 'inset #{$colour1} 0 0 0 0,';
    @for $i from 1 through $n {
        @if ($i % 2 != 0) {
            $value: '#{$value} inset #{$colour2} #{$i}em 0 0 0';
        } @else {
            $value: '#{$value} inset #{$colour1} #{$i}em 0 0 0';
        }
        @if ($i < $n) {
            $value: '#{$value}, ';
        }
    }
    @return unquote($value);
}

.soundcloud.customAudioPlayer{
    margin:2em 0;
    padding:0em;
    padding-left:4em;
    position:relative;
    border:1px solid $border;
    overflow:visible;
    box-sizing:border-box;
    background:$white;
    font-family:'Arial',sans-serif;
    color:$text_light;
    height:3em;

    background-image:linear-gradient($background_grey_light,$background_grey_dark);
    *,
    *:before,
    *:after{box-sizing:inherit;}

    .loader{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:3em;
        background:$black;//rgba(red,.3);
        z-index:2;
        pointer-events:none;
        opacity:0;
        // opacity:.2;
        transition:opacity .2s;
        text-align:center;
        line-height:1;
        padding:1em;
        overflow:hidden;
        &:before{
            display:block;
            content:'';
            width:200%;//400%;
            // padding-bottom:100%;
            height:100%;//600%;
            position:absolute;
            z-index:1;
            top:0%;
            left:0%;//-25%;
            // transform:rotate(15deg);
            // transform:rotate(.02turn);
            transform-origin:center center;
            box-shadow:soundcloud_boxShadow(100,$white,$orange);
            animation:soundcloud_slide linear infinite .4s;
            // transform-origin:center;
        }

    }
    &.loading .loader{
        opacity:.2;
    }

    .playerTrigger{
        border:none;
        appearance:none;
        width:2.6em;
        height:2.6em;
        font-size:1em;
        color:$icon_grey;
        background:none;//$white;
        position:absolute;
        top:50%;
        margin-top:-1.3em;
        left:1em;
        // border:2px solid $black;
        border-radius:50%;
        // margin-top:-1em;
        cursor:pointer;
        .buttonText{
            display:none;
        }
        &:focus{
            outline:none;
            // box-shadow:$grey 0 0 0 .2em;
        }
        &:before{
            content:'';
            display:block;
            position:absolute;
            top:50%;
            left:50%;
            margin-top:-.6em;
            margin-left:-.25em;
            border-top:.6em solid transparent;
            border-left:.8em solid $black;
            border-bottom:.6em solid transparent;
            // transition:border height margin top;
            // transition-duration:.2s;
        }
        &:after{
            content:'';
            display:block;
            position:absolute;
            top:50%;
            right:50%;
            height:1em;
            margin-top:-.5em;
            margin-right:-.5em;
            border-top:0;
            border-left:.4em solid $black;
            border-bottom:0;
            opacity:0;
            // transition:opacity .2s;
        }
        &.songPlaying:before{
            height:1em;
            margin-top:-.5em;
            margin-left:-.5em;
            border-top:0;
            border-left:.4em solid $black;
            border-bottom:0;
        }
        &.songPlaying:after{
            opacity:1;
        }
    }

    .metaWrapper{
        // padding:.5em;
        color:$black;
        padding:0 1em;
        // text-align:center;
        margin-bottom:1em;
        float:right;
        width:25%;
        margin-top:.7em;
    }

    .titleDisplay{
        display:block;
        font-size:.7em;
        line-height:1;
        padding-bottom:.2em;
        // font-weight:bold;
        color:$text_light;
        // &:before{content:'“';}
        // &:after{content:'”';}
    }

    .artistDisplay{
        display:block;
        font-size:.7em;
        line-height:1;
        color:$text_dark;
        font-weight:bold;
        // &:before{content:' – ';}
    }

    .songPlayTimer{
        position:absolute;
        bottom:1em;
        left:5em;
        color:$orange;
    }
    .songDuration{
        position:absolute;
        bottom:1em;
        right:1em;
    }

    // .metaWrapper{
    //     margin-bottom:.5em;
    //     overflow:auto;
    //     .titleDisplay{
    //         font-weight:bold;
    //         margin-right:.5em;
    //     }
    // }

    .timingsWrapper{
        padding:0 4em;
        position:relative;
        font-size:.8em;
        width:70%;
        float:left;
        margin-top:1.5em;
        .songPlayTimer,
        .songDuration{
            position:absolute;
            top:-.2em;
            width:4em;
            text-align:center;
            // background:$grey;
            line-height:1;
            // height:2em;
        }
        .songPlayTimer{
            left:0;
            border-radius:.5em 0 0 .5em;
        }
        .songDuration{
            right:0;
            border-radius:0 .5em .5em 0;
        }
    }
    
    $progressHeight:.6rem;

    .songProgressSliderWrapper{

        height:$progressHeight;
        // font-size:.8em;
        line-height:1;
        position:relative;
        border-radius:.2rem;
        // bottom:0;
        // left:4rem;
        // right:0;
        // width:100%;
        // background:red;
        // overflow:hidden;
        .songProgressSlider{
            width:100%;
            padding:0;
            margin:0;
            position:absolute;
            top:0;
            left:0;
            opacity:0;
        }

        .pseudoProgressBackground{
            height:.1rem;
            position:absolute;
            bottom:50%;
            left:0;
            background:$unplayed;
            width:100%;
        }
        .pseudoProgressIndicator{
            height:.1rem;
            position:absolute;
            bottom:50%;
            left:0;
            background:$orange;
            width:0%;
        }
        .pseudoProgressPlayhead{
            // display:none;
            background:$orange;
            width:.4rem;
            height:.4rem;
            position:absolute;
            bottom:50%;
            margin-bottom:-.2rem;//0 - ($progressHeight / 2);
            left:0%;
            border-radius:50%;
            // margin-top:-1em;
            margin-left:0 - ($progressHeight / 2);
            opacity:0;
            transition:opacity .2s;
        }

        // &:hover .pseudoProgressPlayhead{
        //     opacity:1;
        // }
    }

    .songProgressSliderWrapper:hover .pseudoProgressPlayhead{
            opacity:1;
        }

    // Make sure the range Track is the right size and shape
    input[type=range].songProgressSlider::-webkit-slider-runnable-track {
      width:100%;
      font-size:$progressHeight;
      height:2.2em;
      cursor:pointer;
    }
    input[type=range].songProgressSlider::-moz-range-track {
      width:100%;
      height:$progressHeight;
      cursor:pointer;
    }
    input[type=range].songProgressSlider::-ms-track {
      width:100%;
      height:$progressHeight;
      cursor:pointer;
    }

    .songMuteButton{
        display:none;
    }

    .songVolume{
        width:5%;
        height:3em;
        float:left;
        // background:red;
        // margin-top:1em;
        position:relative;
        cursor:pointer;
        // display:none;
        // padding-top:.4em;
        // width:28%;
        // float:right;
        // overflow:auto;
        &:before{
            display:block;
            width:.5em;
            height:.4em;
            position:absolute;
            content:'';
            top:50%;
            right:50%;
            margin-right:.1em;
            margin-top:-.2em;
            // transform:translateY(-50%);
            background:$black;
        }
        &:after{
            display:block;
            width:.5em;
            // height:.5em;
            position:absolute;
            content:'';
            top:50%;
            margin-top:-.5em;
            right:50%;
            // background:$black;
            border-top:.5em solid transparent;
            border-right:.5em solid $black;
            border-bottom:.5em solid transparent;
        }
    }

    .songVolumeValue{
        display:none;
    }

    .songVolumeLabelWrapper{
        display:none;
        // width:50%;
        // float:left;
    }

    .songVolumeSliderWrapper{
        display:none;
        transform:rotate(-90deg);
        transform-origin:0 0;
        position:absolute;
        top:.5em;
        left:50%;
        margin-left:-1.5em;
        background:blue;
        height:1em;
        font-size:.8em;
        position:relative;
        background:$volume_bg;
        border:1px solid $border;
        width:10em;
        float:left;
        padding:1em;
        box-shadow:rgba(black,.3) -.2em 0em 1em -.2em;

        &:before{
            content:'';
            display:block;
            position:absolute;
            top:50%;
            margin-top:-8px;
            left:-8px;
            
            border-top:8px solid transparent;
            border-right:8px solid $border;
            border-bottom:8px solid transparent;
            // width:1em;
            // height:1em;
            // background:green;
        }
        &:after{
            content:'';
            display:block;
            position:absolute;
            top:50%;
            margin-top:-8px;
            left:-7px;
            
            border-top:8px solid transparent;
            border-right:8px solid $volume_bg;
            border-bottom:8px solid transparent;
            // width:1em;
            // height:1em;
            // background:green;
        }

        .songVolumeSlider{
            width:100%;
            padding:0;
            margin:0;
            position:absolute;
            top:.5em;
            height:2em;
            left:0;
            opacity:0;
        }


        .pseudoVolumeBackground{
            height:1px;
            position:absolute;
            bottom:50%;
            left:0;
            background:$unplayed;
            width:100%;
        }
        .pseudoVolumeIndicator{
            height:1px;
            position:absolute;
            bottom:50%;
            left:0;
            background:$orange;
            width:0%;
        }
        .pseudoVolumePlayhead{
            // display:none;
            background:$orange;
            width:.4rem;
            height:.4rem;
            position:absolute;
            bottom:50%;
            margin-bottom:-.2rem;//0 - ($progressHeight / 2);
            left:0%;
            border-radius:50%;
            // margin-top:-1em;
            margin-left:0 - ($progressHeight / 2);
            opacity:0;
            transition:opacity .2s;
        }
    }
    .songVolume:hover .songVolumeSliderWrapper{
        display:block;
    }

    // Make sure the range Track is the right size and shape
    input[type=range].songVolumeSlider::-webkit-slider-runnable-track {
      width:100%;
      font-size:1em;
      height:2em;
      cursor:pointer;
    }
    input[type=range].songVolumeSlider::-moz-range-track {
      width:100%;
      height:2em;
      cursor:pointer;
    }
    input[type=range].songVolumeSlider::-ms-track {
      width:100%;
      height:2em;
      cursor:pointer;
    }
}

@keyframes soundcloud_slide{
    0%{
        // transform:rotate(15deg) translateX(-2em);
        transform:translateX(-2em);
    }
    100%{
        // transform:rotate(15deg) translateX(0);
        transform:translateX(0);
    }
}