.customAudioPlayer{
    background:$grey;
    margin:2em 0;
}

.playlistSongTrigger{
    width:2em;
    height:2em;
    color:$white;
    background:$black;
}

.metaWrapper{
    .titleDisplay{

    }
}

.timingsWrapper{
    .songPlayTimer{}
    .songProgressSliderWrapper{
        height:2em;
        background:$green;
        position:relative;
        // .songProgressSlider{
        //     display:none;
        // }
        // .pseudoProgressIndicator{
        //     height:2em;
        //     position:absolute;
        //     top:0;
        //     left:0;
        //     background:$blue;
        //     width:20%;
        // }
        // .pseudoProgressPlayhead{
        //     width:.2em;
        //     height:100%;
        //     position:absolute;
        //     top:0;
        //     left:20%;
        //     background:$red;
        // }
    }
    .songDuration{

    }
}