// 01. REM font size with pixel fallback
// 02. Selection Colours

// 01. REM font size with pixel fallback
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

// This will output the font size in rem with a pixel fallback 

// Usage
// @include font-size(20px);

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// This will output opacity with the MS opacity included

// Usage
// @include opacity(0.9);

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
