.bbc.picobel {
    --white: #ffffff;
    --black: #000000;
    --highlight: #f54997;
    --border: #363733;
    --grey: #808080;
    --progressHeight: 0.6rem;
    --black--opacity: rgba(0, 0, 0, 0.5);
}

.bbc.picobel {
    margin: 2em 0;
    padding: 0em;
    padding-left: 4em;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    background: var(--white);
    font-family: "Arial", sans-serif;
    height: 6em;
}
.bbc.picobel *,
.bbc.picobel *:before,
.bbc.picobel *:after {
    box-sizing: inherit;
}

.bbc.picobel .bbc__loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    background: var(--black);
    z-index: 2;
    pointer-events: none;
    display: none;
    transition: opacity 0.2s;
    text-align: center;
    line-height: 1;
    padding: 1em;
    overflow: hidden;
    background: linear-gradient(
        to right,
        var(--highlight) 50%,
        var(--black) 50%
    );
    background-size: 2em 2em;
    background-repeat: repeat;
    background-position: 0 0;
    animation: background_slide linear infinite 0.4s;
}
.bbc.picobel .bbc__loader:after {
    content: "Loading";
    display: block;
    width: 6em;
    text-align: left;
    color: var(--white);
    animation: ellipsis linear infinite 0.8s;
    position: absolute;
    top: 1em;
    padding-left: 1em;
    left: 50%;
    margin-left: -3em;
    z-index: 2;
}
.bbc.picobel.loading .bbc__loader {
    display: block;
}

.bbc.picobel .bbc__play-pause {
    border: none;
    appearance: none;
    width: 3em;
    height: 3em;
    font-size: 1em;
    background: var(--black);
    border-right: 1px solid var(--border);
    position: absolute;
    bottom: 0;
    margin-top: -1.3em;
    left: 0;
    cursor: pointer;
    transition: background 0.2s;
}
.bbc.picobel .bbc__play-pause .bbc__play-pause__text {
    display: none;
}
.bbc.picobel .bbc__play-pause:focus {
    outline: none;
}
.bbc.picobel .bbc__play-pause:hover {
    background: var(--highlight);
}
.bbc.picobel .bbc__play-pause:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.6em;
    margin-left: -0.25em;
    border-top: 0.6em solid transparent;
    border-left: 0.8em solid var(--white);
    border-bottom: 0.6em solid transparent;
}
.bbc.picobel .bbc__play-pause:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    height: 1em;
    margin-top: -0.5em;
    margin-right: -0.5em;
    border-top: 0;
    border-left: 0.4em solid var(--white);
    border-bottom: 0;
    opacity: 0;
}
.bbc.picobel .bbc__play-pause.playing:before {
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    border-top: 0;
    border-left: 0.4em solid var(--white);
    border-bottom: 0;
}
.bbc.picobel .bbc__play-pause.playing:after {
    opacity: 1;
}

.bbc.picobel .bbc__wrapper--title-artist {
    color: var(--white);
    background: var(--black);
    padding: 1em;
    margin-bottom: 1em;
    position: absolute;
    top: 3em;
    height: 3em;
    left: 12em;
    right: 6em;
}

.bbc.picobel .bbc__title {
    line-height: 1;
    padding-bottom: 0.2em;
}

.bbc.picobel .bbc__artist {
    color: var(--grey);
    margin-left: 1em;
    line-height: 1;
}

.bbc.picobel .bbc__wrapper--timer-progress-duration {
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    height: 3em;
    font-size: 1em;
    width: 100%;
    float: left;
    background: var(--black--opacity);
}
.bbc.picobel .bbc__wrapper--timer-progress-duration .bbc__timer,
.bbc.picobel .bbc__wrapper--timer-progress-duration .bbc__duration {
    position: absolute;
    display: block;
    top: 3em;
    height: 3em;
    width: 4.5em;
    color: var(--white);
    background: var(--black);
    border: 0;
    padding: 1em 0;
    text-align: right;
    border-radius: 0;
}
.bbc.picobel .bbc__wrapper--timer-progress-duration .bbc__timer {
    right: 4.5em;
    padding-right: 0.3em;
    display: inline-block;
    width: auto;
    padding-left: 1em;
    border-left: 1px solid var(--border);
}
.bbc.picobel .bbc__wrapper--timer-progress-duration .bbc__duration {
    text-align: left;
    right: 0;
    color: var(--grey);
}
.bbc.picobel .bbc__wrapper--timer-progress-duration .bbc__duration:before {
    padding-right: 0.2em;
    content: "/";
}

.bbc.picobel .bbc__progress-slider__wrapper {
    height: 1em;
    line-height: 1;
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
}
.bbc.picobel .bbc__progress-label-inner {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.bbc.picobel .bbc__progress-slider__wrapper .bbc__progress-slider__range {
    width: 100%;
    padding: 0;
    height: 1em;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.bbc.picobel .bbc__progress-slider__wrapper .bbc__progress-slider__background {
    height: 0.5em;
    position: absolute;
    top: 0.25em;
    left: 0;
    background: var(--black);
    width: 100%;
}
.bbc.picobel .bbc__progress-slider__wrapper .bbc__progress-slider__indicator {
    height: 0.5em;
    position: absolute;
    top: 0.25em;
    left: 0;
    background: var(--highlight);
    width: 0%;
}
.bbc.picobel .bbc__progress-slider__wrapper .bbc__progress-slider__playhead {
    background: var(--black);
    box-shadow: inset var(--white) 0 0 0 0.2em;
    width: 0.5em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0%;
    margin-left: -0.25em;
}

/* Make sure the range Track is the right size and shape */
.bbc.picobel
    input[type="range"].bbc__progress-slider__range::-webkit-slider-runnable-track {
    width: 100%;
    font-size: var(--progressHeight);
    height: 2em;
    cursor: pointer;
}
.bbc.picobel input[type="range"].bbc__progress-slider__range::-moz-range-track {
    width: 100%;
    height: var(--progressHeight);
    cursor: pointer;
}
.bbc.picobel input[type="range"].bbc__progress-slider__range::-ms-track {
    width: 100%;
    height: var(--progressHeight);
    cursor: pointer;
}

.bbc.picobel .bbc__wrapper--mute-volume {
    width: 9em;
    height: 3em;
    position: absolute;
    bottom: 0;
    left: 3em;
    background: var(--black);
    border-right: 1px solid var(--border);
}

.bbc.picobel .bbc__mute {
    width: 3em;
    height: 3em;
    font-size: 1em;
    border: 0;
    appearance: none;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background: var(--black);
    color: transparent;
}
.bbc.picobel .bbc__mute:before {
    display: block;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    content: "";
    top: 50%;
    right: 50%;
    margin-right: 0.1em;
    transform: translateY(-50%);
    background: var(--white);
}
.bbc.picobel .bbc__mute:after {
    display: block;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -0.5em;
    right: 50%;
    border-top: 0.5em solid transparent;
    border-right: 0.5em solid var(--white);
    border-bottom: 0.5em solid transparent;
}
.bbc.picobel .bbc__mute:focus {
    outline: none;
}

.bbc.picobel .bbc__wrapper--mute-volume:hover .bbc__mute {
    background: var(--highlight);
}

.bbc.picobel .bbc__volume-label-key {
    display: block;
    position: absolute;
    top: 50%;
    height: 1rem;
    margin-top: -0.5rem;
    width: 1rem;
    font-size: 0;
    left: 50%;
    border-top: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-radius: 0 0.8rem 0 0;
    transform: rotate(45deg);
}
.bbc.picobel .bbc__volume-label-value {
    display: block;
    position: absolute;
    top: 50%;
    height: 0.6rem;
    margin-top: -0.3rem;
    width: 0.6rem;
    font-size: 0;
    left: 50%;
    border-top: 2px solid var(--white);
    border-right: 2px solid var(--white);
    border-radius: 0 0.5rem 0 0;
    transform: rotate(45deg);
}

.bbc.picobel .bbc__mute.muted + .bbc__volume .bbc__volume-label-key {
    border-right: 0;
    border-radius: 0;
    width: 0.6rem;
    transform-origin: center;
    transform: rotate(-45deg);
    height: 0;
    margin-top: -0.05rem;
    margin-left: 0.2rem;
}

.bbc.picobel .bbc__mute.muted + .bbc__volume .bbc__volume-label-value {
    border-right: 0;
    border-radius: 0;
    height: 0;
    width: 0.6rem;
    margin-top: -0.05rem;
    transform-origin: center;
    margin-left: 0.2rem;
}

.bbc.picobel .bbc__volume-label {
    position: absolute;
    height: 3em;
    width: 3em;
    top: 0;
    left: 0;
    pointer-events: none;
}

.bbc.picobel .bbc__volume-slider__wrapper {
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 3em;
    height: 3em;
    position: relative;
    background: var(--black);
    border-left: 1px solid var(--border);
    width: 5.9em;
}

.bbc.picobel .bbc__volume-slider__wrapper .bbc__volume-slider__range {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 3em;
    left: 0;
    opacity: 0;
}

.bbc.picobel .bbc__volume-slider__wrapper .bbc__volume-slider__background {
    height: 1.5em;
    position: absolute;
    bottom: 0.5em;
    left: 0;
    background: var(--grey);
    width: 100%;
    background-image: linear-gradient(
        to right,
        var(--grey) 0em,
        var(--grey) 0.25em,
        var(--black) 0.25em,
        var(--black) 0.5em,
        var(--grey) 0.5em,
        var(--grey) 0.75em,
        var(--black) 0.75em,
        var(--black) 1em,
        var(--grey) 1em,
        var(--grey) 1.25em,
        var(--black) 1.25em,
        var(--black) 1.5em,
        var(--grey) 1.5em,
        var(--grey) 1.75em,
        var(--black) 1.75em,
        var(--black) 2em,
        var(--grey) 2em,
        var(--grey) 2.25em,
        var(--black) 2.25em,
        var(--black) 2.5em,
        var(--grey) 2.5em,
        var(--grey) 2.75em,
        var(--black) 2.75em,
        var(--black) 3em,
        var(--grey) 3em,
        var(--grey) 3.25em,
        var(--black) 3.25em,
        var(--black) 3.5em,
        var(--grey) 3.5em,
        var(--grey) 3.75em,
        var(--black) 3.75em,
        var(--black) 4em,
        var(--grey) 4em,
        var(--grey) 4.25em,
        var(--black) 4.25em,
        var(--black) 4.5em,
        var(--grey) 4.5em,
        var(--grey) 4.75em,
        var(--black) 4.75em,
        var(--black) 5em,
        var(--grey) 5em,
        var(--grey) 5.25em,
        var(--black) 5.25em,
        var(--black) 5.5em,
        var(--grey) 5.5em,
        var(--grey) 5.75em,
        var(--black) 5.75em,
        var(--black) 6em,
        var(--grey) 6em,
        var(--grey) 6.25em,
        var(--black) 6.25em,
        var(--black) 6.5em,
        var(--grey) 6.5em,
        var(--grey) 6.75em,
        var(--black) 6.75em,
        var(--black) 7em,
        var(--grey) 7em,
        var(--grey) 7.25em,
        var(--black) 7.25em,
        var(--black) 7.5em,
        var(--grey) 7.5em,
        var(--grey) 7.75em,
        var(--black) 7.75em,
        var(--black) 8em,
        var(--grey) 8em,
        var(--grey) 8.25em,
        var(--black) 8.25em,
        var(--black) 8.5em,
        var(--grey) 8.5em,
        var(--grey) 8.75em,
        var(--black) 8.75em,
        var(--black) 9em,
        var(--grey) 9em,
        var(--grey) 9.25em,
        var(--black) 9.25em,
        var(--black) 9.5em,
        var(--grey) 9.5em,
        var(--grey) 9.75em,
        var(--black) 9.75em,
        var(--black) 10em
    );
}
.bbc.picobel .bbc__volume-slider__wrapper .bbc__volume-slider__indicator {
    height: 1.5em;
    position: absolute;
    bottom: 0.5em;
    left: 0;
    background: var(--highlight);
    width: 100%;
    background-image: linear-gradient(
        to right,
        var(--highlight) 0em,
        var(--highlight) 0.25em,
        var(--black) 0.25em,
        var(--black) 0.5em,
        var(--highlight) 0.5em,
        var(--highlight) 0.75em,
        var(--black) 0.75em,
        var(--black) 1em,
        var(--highlight) 1em,
        var(--highlight) 1.25em,
        var(--black) 1.25em,
        var(--black) 1.5em,
        var(--highlight) 1.5em,
        var(--highlight) 1.75em,
        var(--black) 1.75em,
        var(--black) 2em,
        var(--highlight) 2em,
        var(--highlight) 2.25em,
        var(--black) 2.25em,
        var(--black) 2.5em,
        var(--highlight) 2.5em,
        var(--highlight) 2.75em,
        var(--black) 2.75em,
        var(--black) 3em,
        var(--highlight) 3em,
        var(--highlight) 3.25em,
        var(--black) 3.25em,
        var(--black) 3.5em,
        var(--highlight) 3.5em,
        var(--highlight) 3.75em,
        var(--black) 3.75em,
        var(--black) 4em,
        var(--highlight) 4em,
        var(--highlight) 4.25em,
        var(--black) 4.25em,
        var(--black) 4.5em,
        var(--highlight) 4.5em,
        var(--highlight) 4.75em,
        var(--black) 4.75em,
        var(--black) 5em,
        var(--highlight) 5em,
        var(--highlight) 5.25em,
        var(--black) 5.25em,
        var(--black) 5.5em,
        var(--highlight) 5.5em,
        var(--highlight) 5.75em,
        var(--black) 5.75em,
        var(--black) 6em,
        var(--highlight) 6em,
        var(--highlight) 6.25em,
        var(--black) 6.25em,
        var(--black) 6.5em,
        var(--highlight) 6.5em,
        var(--highlight) 6.75em,
        var(--black) 6.75em,
        var(--black) 7em,
        var(--highlight) 7em,
        var(--highlight) 7.25em,
        var(--black) 7.25em,
        var(--black) 7.5em,
        var(--highlight) 7.5em,
        var(--highlight) 7.75em,
        var(--black) 7.75em,
        var(--black) 8em,
        var(--highlight) 8em,
        var(--highlight) 8.25em,
        var(--black) 8.25em,
        var(--black) 8.5em,
        var(--highlight) 8.5em,
        var(--highlight) 8.75em,
        var(--black) 8.75em,
        var(--black) 9em,
        var(--highlight) 9em,
        var(--highlight) 9.25em,
        var(--black) 9.25em,
        var(--black) 9.5em,
        var(--highlight) 9.5em,
        var(--highlight) 9.75em,
        var(--black) 9.75em,
        var(--black) 10em
    );
}
.bbc.picobel .bbc__volume-slider__wrapper .bbc__volume-slider__playhead {
    background: var(--white);
    width: 0.2em;
    height: 2em;
    position: absolute;
    bottom: 0.5em;
    left: 100%;
    margin-left: -0.1em;
}
/* .bbc.picobel .songVolume:hover .bbc__volume-slider__wrapper {
    display: block;
} */

/* Make sure the range Track is the right size and shape */
.bbc.picobel
    input[type="range"].bbc__volume-slider__range::-webkit-slider-runnable-track {
    width: 100%;
    font-size: 1em;
    height: 3em;
    cursor: pointer;
}
.bbc.picobel input[type="range"].bbc__volume-slider__range::-moz-range-track {
    width: 100%;
    height: 3em;
    cursor: pointer;
}
.bbc.picobel input[type="range"].bbc__volume-slider__range::-ms-track {
    width: 100%;
    height: 3em;
    cursor: pointer;
}

/* Simulates an infinite slide-to-the-right effect. */
@keyframes background_slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2em 0;
    }
}

@keyframes ellipsis {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
    100% {
        content: "Loading";
    }
}
