.itunes.picobel {
    --white: #ffffff;
    --black: #4d4d4d; /* rgb(77,77,77) */
    --black--opacity: rgba(77, 77, 77, 0.6);
    --icon_grey: #7f7f7f;
    --background_grey_dark: #e6e6e6;
    --background_grey_light: #f1f1f1;
    --border: #c3c3c3;
    --played_grey: #707070;
    --unplayed_grey: #bcbcbc;
    --playhead: #000000;
    --text_dark: #3c3c3c;
    --text_light: #7a7a7a;
    --progressHeight: 1rem;
}

.itunes.picobel {
    margin: 2em 0;
    padding-left: 4em;
    position: relative;
    border: 1px solid var(--border);
    box-shadow: inset var(--white) 0 1px 0 0, var(--black--opacity) 0 1px 2px 0;
    overflow: hidden;
    height: 4em;
    box-sizing: border-box;
    background-image: linear-gradient(
        var(background_grey_light),
        var(--background_grey_dark)
    );

    font-family: "Arial", sans-serif;
    color: var(--text_light);
    text-shadow: var(--white) 0 1px 0;
}
.itunes.picobel *,
.itunes.picobel *:before,
.itunes.picobel *:after {
    box-sizing: inherit;
}

.itunes.picobel .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    margin-top: -1.25em;
    margin-left: 1em;
    border: 0.2em solid var(--border);
    border-top-color: var(--black);
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    text-align: center;
    line-height: 1;
    overflow: hidden;
    border-radius: 50%;
    animation: itunes_spin linear infinite 1s;
}
.itunes.picobel.loading .loader {
    opacity: 1;
}

.itunes.picobel .playerTrigger {
    border: none;
    appearance: none;
    width: 4em;
    height: 4em;
    font-size: 1em;
    background: var(--white);
    color: var(--icon_grey);
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid var(--border);
    cursor: pointer;
}
.itunes.picobel .playerTrigger .buttonText {
    display: none;
}
.itunes.picobel .playerTrigger:focus {
    outline: none;
}
.itunes.picobel .playerTrigger:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.8em;
    margin-left: -0.4em;
    border-top: 0.8em solid transparent;
    border-bottom: 0.8em solid transparent;
    border-left: 1em solid var(--icon_grey);
}
.itunes.picobel .playerTrigger:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    height: 1.4em;
    margin-top: -0.7em;
    margin-right: -0.7em;
    border-top: 0;
    border-bottom: 0;
    border-left: 0.6em solid var(--icon_grey);
    display: none;
}
.itunes.picobel .playerTrigger.songPlaying:before {
    height: 1.4em;
    margin-top: -0.7em;
    margin-left: -0.7em;
    border-top: 0;
    border-bottom: 0;
    border-left: 0.6em solid var(--icon_grey);
}
.itunes.picobel .playerTrigger.songPlaying:after {
    display: block;
}

.itunes.picobel .metaWrapper {
    padding: 0.5em;
}

.itunes.picobel.loading .metaWrapper {
    display: none;
}

.itunes.picobel .titleDisplay {
    display: block;
    text-align: center;
    color: var(--text_dark);
    font-weight: 500;
}

.itunes.picobel .artistDisplay {
    font-size: 0.8em;
    display: block;
    text-align: center;
}

.itunes.picobel .songPlayTimer {
    position: absolute;
    bottom: 1em;
    left: 5em;
}
.itunes.picobel .songDuration {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.itunes.picobel .progress-slider__wrapper {
    height: var(--progressHeight);
    line-height: 1;
    position: absolute;
    bottom: 0;
    left: 4rem;
    right: 0;
    overflow: hidden;
}
.itunes.picobel .progress-slider__wrapper .progress-slider__range {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.itunes.picobel .progress-slider__wrapper .progress-slider__background {
    height: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--unplayed_grey);
    width: 100%;
}
.itunes.picobel .progress-slider__wrapper .progress-slider__progress-indicator {
    height: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--played_grey);
    width: 0%;
}
.itunes.picobel .progress-slider__wrapper .progress-slider__playhead {
    width: 0.3em;
    height: var(--progressHeight);
    position: absolute;
    bottom: 0;
    left: 0%;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    margin-left: -0.15em;
    background: var(--playhead);
}

/* Make sure the range Track is the right size and shape */
.itunes.picobel
    input[type="range"].progress-slider__range::-webkit-slider-runnable-track {
    width: 100%;
    font-size: var(--progressHeight);
    height: 2.2em;
    cursor: pointer;
}
.itunes.picobel input[type="range"].progress-slider__range::-moz-range-track {
    width: 100%;
    height: var(--progressHeight);
    cursor: pointer;
}
.itunes.picobel input[type="range"].progress-slider__range::-ms-track {
    width: 100%;
    height: var(--progressHeight);
    cursor: pointer;
}

.itunes.picobel .songVolume {
    display: none;
}

@keyframes itunes_spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
