.skeleton.customAudioPlayer {
    --black: #555;
    --white: #ffffff;
    --grey: #ddd;
}

/* Simulates an infinite slide-to-the-right effect. */
@keyframes background_slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2em 0;
    }
}

/* Global */
.skeleton.customAudioPlayer *,
.skeleton.customAudioPlayer *:before,
.skeleton.customAudioPlayer *:after {
    box-sizing: inherit;
}
.skeleton.customAudioPlayer {
    font-size: inherit;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;

    /* Wrapper */
    margin: 1em 0;
    height: 4em;
    border: 0.1em solid var(--black);
}

/* The loading-state indicator */
.skeleton.customAudioPlayer .loader {
    position: absolute;
    display: none;
    z-index: 2;
    bottom: 0;
    left: 4em;
    right: 0;
    height: 2em;
    overflow: hidden;
    border-top: 0.1em solid var(--black);
    background: linear-gradient(to right, var(--white) 50%, var(--black) 50%);
    background-size: 2em 2em;
    background-repeat: repeat;
    background-position: 0 0;
    animation: background_slide linear infinite 0.4s;
}

/* Only show the loader when we're loading */
.skeleton.customAudioPlayer.loading .loader {
    display: block;
}

/* The play-pause button */
.skeleton.customAudioPlayer .playerTrigger {
    font-size: 1em;
    border: none;
    border-right: 0.1em solid var(--black);
    appearance: none;
    width: 4em;
    height: 4em;
    background: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.skeleton.customAudioPlayer .playerTrigger .buttonText {
    display: none;
}
.skeleton.customAudioPlayer .playerTrigger:focus {
    outline: none;
}

/* The "play" icon */
.skeleton.customAudioPlayer .playerTrigger:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.8em;
    margin-left: -0.4em;
    border-top: 0.8em solid transparent;
    border-left: 1em solid var(--black);
    border-bottom: 0.8em solid transparent;
}

/* Hidden right side of "pause" icon (shown when paused) */
.skeleton.customAudioPlayer .playerTrigger:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    height: 1.4em;
    margin-top: -0.7em;
    margin-right: -0.7em;
    border-top: 0;
    border-left: 0.5em solid var(--black);
    border-bottom: 0;
    opacity: 0;
}

/* The left side of the "pause" icon */
.skeleton.customAudioPlayer .playerTrigger.songPlaying:before {
    height: 1.4em;
    margin-top: -0.7em;
    margin-left: -0.7em;
    border-top: 0;
    border-left: 0.5em solid var(--black);
    border-bottom: 0;
}

/* Make the right side visible */
.skeleton.customAudioPlayer .playerTrigger.songPlaying:after {
    opacity: 1;
}

/* Display song info */
.skeleton.customAudioPlayer .metaWrapper {
    padding: 0 1em 0 4.5em;
    height: 4em;
    overflow: hidden;
    background: var(--white);
    color: var(--black);
    line-height: 1.6;
}
.skeleton.customAudioPlayer .metaWrapper .titleDisplay {
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    margin-right: 0.5em;
    font-family: monospace;
}
.skeleton.customAudioPlayer .metaWrapper .titleDisplay :after {
    content: " – ";
}

.skeleton.customAudioPlayer .metaWrapper .artistDisplay {
    font-family: monospace;
    display: inline-block;
    line-height: 1;
}

/* Display info about time-played and song-duration */
.skeleton.customAudioPlayer .timingsWrapper {
    position: absolute;
    bottom: 0;
    left: 10em;
    right: 0;
    height: 2em;
    border-left: 0.1em solid var(--black);
}
.skeleton.customAudioPlayer .timingsWrapper .songPlayTimer,
.skeleton.customAudioPlayer .timingsWrapper .songDuration {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 6em;
    text-align: left;
    background: transparent;
    color: var(--black);
    line-height: 1;
    pointer-events: none;
    font-size: 1em;
    padding: 0 0.5em 0.5em 1em;
    font-family: monospace;
}
.skeleton.customAudioPlayer .timingsWrapper .songPlayTimer {
    left: 0;
}
.skeleton.customAudioPlayer .timingsWrapper .songDuration {
    right: 0;
    text-align: right;
}

/* Hide song-timings when we're loading */
.skeleton.customAudioPlayer.loading .timingsWrapper .songPlayTimer,
.skeleton.customAudioPlayer.loading .timingsWrapper .songDuration {
    display: none;
}

/* The "fake" range slider */
.skeleton.customAudioPlayer .progress-slider__wrapper {
    height: 2em;
    font-size: 1em;
    line-height: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    overflow: hidden;
    border-top: 0.1em solid var(--black);
}
/* Make sure the real range element is the same size as the fake one. Position it on-top of the fake and make it invisible (so we can still get the functionality) */
.skeleton.customAudioPlayer .progress-slider__wrapper .progress-slider__range {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.skeleton.customAudioPlayer
    .progress-slider__wrapper
    .progress-slider__progress-indicator {
    height: 2em;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--grey);
    width: 0%;
}
.skeleton.customAudioPlayer
    .progress-slider__wrapper
    .progress-slider__playhead {
    width: 0.5em;
    height: 2em;
    position: absolute;
    top: 0;
    left: 0%;
    margin-left: -0.2em;
    background: var(--black);
}

/* Hide dynamic elements until loading has finished */
.skeleton.customAudioPlayer.loading .progress-slider__progress-indicator,
.skeleton.customAudioPlayer.loading .progress-slider__playhead {
    display: none;
}

/* Make sure the range Track is the right size and shape. Needs prefixed versions to ensure cross-browser consistency. */
.skeleton.customAudioPlayer
    input[type="range"].progress-slider__range::-webkit-slider-runnable-track {
    width: 100%;
    font-size: 1em;
    height: 2em;
    cursor: pointer;
}
.skeleton.customAudioPlayer
    input[type="range"].progress-slider__range::-moz-range-track {
    width: 100%;
    height: 2em;
    cursor: pointer;
}
.skeleton.customAudioPlayer
    input[type="range"].progress-slider__range::-ms-track {
    width: 100%;
    height: 2em;
    cursor: pointer;
}

/* Position the volume controls */
.skeleton.customAudioPlayer .songVolume {
    position: absolute;
    bottom: 0;
    left: 4em;
    width: 6em;
    height: 2em;
    overflow: hidden;
    z-index: 2;
    border-top: 0.1em solid var(--black);
    background: var(--white);
}
.skeleton.customAudioPlayer .songVolume .songMuteButton {
    display: block;
    z-index: 2;
    float: left;
    width: 2em;
    height: 2em;
    font-size: 1em;
    color: transparent;
    border: 0;
    appearance: none;
    background: var(--white);
    position: relative;
    cursor: pointer;
}
.skeleton.customAudioPlayer .songVolume .songMuteButton:focus {
    outline: none;
}

/* Rectangle part of "speaker cone" icon */
.skeleton.customAudioPlayer .songVolume .songMuteButton:before {
    display: block;
    width: 0.5em;
    height: 0.4em;
    position: absolute;
    content: "";
    top: 50%;
    right: 50%;
    margin-right: -0.1em;
    transform: translateY(-50%);
    background: var(--black);
}

/* Triangle part of "speaker cone" icon */
.skeleton.customAudioPlayer .songVolume .songMuteButton:after {
    display: block;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 50%;
    margin-right: -0.2em;
    border-top: 0.5em solid transparent;
    border-right: 0.5em solid var(--black);
    border-bottom: 0.5em solid transparent;
}

/* Change icon when muted */
.skeleton.customAudioPlayer .songVolume .songMuteButton.songMuted:before {
    background: var(--grey);
}
.skeleton.customAudioPlayer .songVolume .songMuteButton.songMuted:after {
    border-right-color: var(--grey);
}

.songVolumeValue {
    margin-left: 0.2em;
}

.songVolumeLabelWrapper {
    display: none;
}

/* As with the playback indicator, we're using a range element to power the volume slider functionality */
.skeleton.customAudioPlayer .volume-slider__wrapper {
    display: block;
    height: 1em;
    position: relative;
    margin: 0.5em;
    left: 0;
    z-index: 3;
    background: var(--grey);
    width: 3em;
    float: left;
    transform: rotate(180deg);
    overflow: hidden;
}
.skeleton.customAudioPlayer .volume-slider__wrapper:after {
    content: "";
    display: block;
    width: 100%;
    border-right: 3em solid var(--white);
    border-top: 1em solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* Make sure the real range element is the same size as the fake one. Position it on-top of the fake and make it invisible (so we can still get the functionality) */
.skeleton.customAudioPlayer .volume-slider__wrapper .volume-slider__range {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: rotate(180deg);
}
.skeleton.customAudioPlayer
    .volume-slider__wrapper
    .volume-slider__progress-indicator {
    height: 1em;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--black);
    width: 100%;
}
.skeleton.customAudioPlayer .volume-slider__wrapper .volume-slider__playhead {
    display: none;
}

/* Make sure the range Track is the right size and shape. Needs prefixed versions to ensure cross-browser consistency. */
.skeleton.customAudioPlayer
    input[type="range"].volume-slider__range::-webkit-slider-runnable-track {
    width: 100%;
    font-size: 1em;
    height: 1.5em;
    cursor: pointer;
}
.skeleton.customAudioPlayer
    input[type="range"].volume-slider__range::-moz-range-track {
    width: 100%;
    height: 1.5em;
    cursor: pointer;
}
.skeleton.customAudioPlayer
    input[type="range"].volume-slider__range::-ms-track {
    width: 100%;
    height: 1.5em;
    cursor: pointer;
}
